treechildren::-moz-tree-image(modules_order_preferences){
	list-style-image: url(/icons/small/order.png) ;
}
treechildren::-moz-tree-image(modules_order_order){
	list-style-image: url(/icons/small/order.png) ;
}
treechildren::-moz-tree-image(modules_order_smartfolder){
	list-style-image: url(/icons/small/folder.png);
}