cdocumenteditor#edt_order_order cfieldsgroup.customer{
	-moz-binding: url(binding:modules.order.cOrderEditor#customerSection);
}

cdocumenteditor#edt_order_order cfieldsgroup.orderlines{
	-moz-binding: url(binding:modules.order.cOrderEditor#cOrderLines);
}
cdocumenteditor#edt_order_order cfieldsgroup.discountlines{
	-moz-binding: url(binding:modules.order.cOrderEditor#cDiscountLines);
}

cdocumenteditor#edt_order_order cfieldsgroup.customeraddress{	
	-moz-binding: url(binding:modules.order.cOrderEditor#cCustomerAddress);
}

cdocumenteditor#edt_order_order cfieldsgroup.orderbills{
	-moz-binding: url(binding:modules.order.cOrderEditor#cBillsSoratbleGrid);
}

cdocumenteditor#edt_order_order cfieldsgroup.orderexpeditions{
	-moz-binding: url(binding:modules.order.cOrderEditor#cExpeditionsSoratbleGrid);
}

cdocumenteditor#edt_order_order section.message{
	-moz-binding: url(binding:modules.order.cOrderEditor#messageSection);
}
cfield[fieldtype="billgenerator"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#cBillgenerator);
}
cfield[fieldtype="editorderstatus"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#cEditOrderStatus);
}



cdocumenteditor#edt_order_expedition cresumesection[sectionname="lines"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#cExpeditionLinesResumeSection);
}
cdocumenteditor#edt_order_expedition cresumesection[sectionname="lines"] linesgrid{
	-moz-binding: url(binding:modules.order.cOrderEditor#cExpeditionLinesGrid);
}

wdialog[template="ValidateBill"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#validateBillDialog);
}
wdialog[template="ShipExpedition"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#shipExpeditionDialog);
}