cdocumenteditor#edt_order_order cfieldsgroup.lines{
	-moz-binding: url(binding:modules.order.cOrderEditor#linesSection);
}
cdocumenteditor#edt_order_order cfieldsgroup.customer{
	-moz-binding: url(binding:modules.order.cOrderEditor#customerSection);
}
cdocumenteditor#edt_order_order row[linetype="grid-header"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#headRow);
}
cdocumenteditor#edt_order_order row[linetype="cart-line"],row[linetype="sub-cart-line"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#lineRow);
}
cdocumenteditor#edt_order_order row[linetype="discount-cart-line"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#discountLineRow);
}
cdocumenteditor#edt_order_order cmessagespanel{
	-moz-binding: url(binding:modules.order.cOrderEditor#cMessagesPanel);
}
cdocumenteditor#edt_order_order section.message{
	-moz-binding: url(binding:modules.order.cOrderEditor#messageSection);
}
cfield[fieldtype="billgenerator"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#cBillgenerator);
}
cfield[fieldtype="editorderstatus"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#cEditOrderStatus);
}
gridlist.billsJSON{
	-moz-binding: url(binding:modules.order.cOrderEditor#cBillsSoratbleGrid);
}
gridlist.expeditionsJSON{
	-moz-binding: url(binding:modules.order.cOrderEditor#cExpeditionsSoratbleGrid);
}
wdialog[template="ValidateBill"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#validateBillDialog);
}
wdialog[template="ShipExpedition"]{
	-moz-binding: url(binding:modules.order.cOrderEditor#shipExpeditionDialog);
}