.modules-order .payment-information tr td {
	text-align: right;
}
.modules-order td.visual {
	text-align: center;
}


/* Etapes du process de commande */
.order-process-steps{
	width: 100%;
	float: left;
	text-align: center;
	margin: 40px 0;
}

.modules-order ul.steps li{
	border-width: 1px;
	border-style: solid;
	width: 120px;
	padding: 10px 4px;
	margin-right: 4px;
	
	display: inline-block;
	zoom: 1;
	* display: inline;
}

.modules-order ul.steps li:last-child{
	margin-right: 0px;
}

.modules-order ul.steps li .step{
	font-size: 1.6em;
	font-weight: bold;
}
}

.modules-order .billing p.buttons input.button{
	vertical-align: baseline;
}