.modules-order li.on2col{
	margin-right: 1.9%;
}
.modules-order li.on1col,.modules-order li.on2col,.modules-order li.on3col{
	margin-bottom: 16px;
}
.modules-order li.first{
	clear: both;
}
.modules-order li.last{
	margin-right: 0;
	float: none;
}
