<table width="100%" border="1" cellspacing="0" cellpadding="0">
	<tr>
		<th>
			<abbr title="${trans: m.order.frontoffice.reference,ucf}">${trans: m.order.frontoffice.reference-abbr,ucf}</abbr>
		</th>
	    <th>${trans: m.order.frontoffice.designation,ucf}</th>
		<th tal:condition="shop/getDisplayPriceWithoutTax">
			<abbr title="${trans: m.order.frontoffice.unitprice-without-tax}">${trans: m.order.frontoffice.unitprice-without-tax-abr,ucf}</abbr>
		</th>
		<th tal:condition="shop/getDisplayPriceWithTax">
			<abbr title="${trans: m.order.frontoffice.unitprice-with-tax}">${trans: m.order.frontoffice.unitprice-with-tax-abr,ucf}</abbr>
		</th>
	    <th>${trans: m.order.frontoffice.quantity,ucf}</th>
		<th tal:condition="shop/getDisplayPriceWithoutTax">
			<abbr title="${trans: m.order.frontoffice.totalprice-without-tax}">${trans: m.order.frontoffice.totalprice-without-tax-abr,ucf}</abbr>
		</th>
	   	<th tal:condition="shop/getDisplayPriceWithTax">
			<abbr title="${trans: m.order.frontoffice.totalprice-with-tax}">${trans: m.order.frontoffice.totalprice-with-tax-abr,ucf}</abbr>
		</th>
	</tr>

	<tr tal:repeat="line order/getLineArray" align="center">
		<tal:block tal:define="global product line/getProduct">
			<td>${line/getCodeReference}</td>
			<td>
				<a tal:condition="product" change:link="document product">${line/getLabel}</a>
				<a tal:condition="not: product">${line/getLabel}</a>
			</td>
			<td tal:condition="shop/getDisplayPriceWithoutTax">${php:order.formatPrice(line.getUnitPriceWithoutTax())}</td>
			<td tal:condition="shop/getDisplayPriceWithTax">${php:order.formatPrice(line.getUnitPriceWithTax())}</td>
			<td>${line/getQuantity}</td>
			<td tal:condition="shop/getDisplayPriceWithoutTax">${php:order.formatPrice(line.getAmountWithoutTax())}</td>
			<td tal:condition="shop/getDisplayPriceWithTax">${php:order.formatPrice(line.getAmountWithTax())}</td>
		</tal:block>
	</tr>
</table><br />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr align="left">
	<td style="padding-left: 18px; padding-bottom: 10px;">
		<span style="font-weight: bold;" tal:content="trans:m.order.bo.general.total-to-pay,ucf,lab"></span> 
		${orderAmount}<br />
		<span style="font-weight: bold;" tal:content="trans:m.order.frontoffice.shipping-mode,ucf,lab"></span>
		${shippingMode}<br />
		<span style="font-weight: bold;" tal:content="trans:m.order.frontoffice.shipping-fees,ucf,lab"></span>
		${shippingFeesWithTax}
	</td>
  </tr>
  <tr align="left">
	<td style="padding-left: 18px; font-weight: bold; width: 50%;">
		<span tal:content="trans:m.order.frontoffice.billingaddress,ucf,lab"></span>
	</td>
	<td style="padding-left: 18px; font-weight: bold; width: 50%;">
		<span tal:content="trans:m.order.frontoffice.shippingaddress,ucf,lab"></span>
	</td>
  </tr>
  <tr align="left">
	<td style="padding-left: 30px; width: 50%;" tal:define="address order/getBillingAddress">
		${address/getTitle/getLabelAsHtml} ${address/getFirstnameAsHtml} ${address/getLastnameAsHtml}<br />
		${address/getAddressLine1AsHtml}<br />
		<tal:block tal:condition="address/getAddressLine2">${address/getAddressline2AsHtml}<br /></tal:block>
		<tal:block tal:condition="address/getAddressLine3">${address/getAddressline3AsHtml}<br /></tal:block>
		${address/getZipcodeAsHtml} ${address/getCityAsHtml}<br />
		<tal:block tal:condition="address/getProvince">${address/getProvinceAsHtml}<br /></tal:block>
		${address/getCountry/getLabelAsHtml}<br />
		<tal:block tal:condition="address/getEmail">${address/getEmailAsHtml}<br /></tal:block>
		<tal:block tal:condition="address/getPhone">
			<span tal:content="trans:m.order.frontoffice.phone,ucf,lab"></span> ${address/getPhoneAsHtml}<br />
		</tal:block>
		<tal:block tal:condition="address/getFax">
			<span tal:content="trans:m.order.frontoffice.fax,ucf,lab"></span> ${address/getFaxAsHtml}<br />
		</tal:block>
	</td>
	<td style="padding-left: 30px; width: 50%;" tal:define="address order/getShippingAddress">
		${address/getTitle/getLabelAsHtml} ${address/getFirstnameAsHtml} ${address/getLastnameAsHtml}<br />
		${address/getAddressLine1AsHtml}<br />
		<tal:block tal:condition="address/getAddressLine2">${address/getAddressline2AsHtml}<br /></tal:block>
		<tal:block tal:condition="address/getAddressLine3">${address/getAddressline3AsHtml}<br /></tal:block>
		${address/getZipcodeAsHtml} ${address/getCityAsHtml}<br />
		<tal:block tal:condition="address/getProvince">${address/getProvinceAsHtml}<br /></tal:block>
		${address/getCountry/getLabelAsHtml}<br />
		<tal:block tal:condition="address/getEmail">${address/getEmailAsHtml}<br /></tal:block>
		<tal:block tal:condition="address/getPhone">
			<span tal:content="trans:m.order.frontoffice.phone,ucf,lab"></span> ${address/getPhoneAsHtml}<br />
		</tal:block>
		<tal:block tal:condition="address/getFax">
			<span tal:content="trans:m.order.frontoffice.fax,ucf,lab"></span> ${address/getFaxAsHtml}<br />
		</tal:block>
	</td>
  </tr>
</table>