<table width="100%" border="1" cellspacing="0" cellpadding="0">
	<tr>
		<th>
			<abbr change:i18nattr="title &modules.order.frontoffice.Reference;" change:translate="modules.order.frontoffice.Reference-abbr">Ref.</abbr>
		</th>
	    <th change:translate="modules.order.frontoffice.Designation" />
		<th tal:condition="shop/getDisplayPriceWithoutTax">
			<abbr change:i18nattr="title &modules.order.frontoffice.unitprice-without-tax;" change:translate="modules.order.frontoffice.unitprice-without-tax-abr">PU HT€</abbr>
		</th>
		<th tal:condition="shop/getDisplayPriceWithTax">
			<abbr change:i18nattr="title &modules.order.frontoffice.unitprice-with-tax;" change:translate="modules.order.frontoffice.unitprice-with-tax-abr">PU TTC€</abbr>
		</th>
	    <th change:translate="modules.order.frontoffice.Quantity" />
		<th tal:condition="shop/getDisplayPriceWithoutTax">
			<abbr change:i18nattr="title &modules.order.frontoffice.totalprice-without-tax;" change:translate="modules.order.frontoffice.totalprice-without-tax-abr">PT HT€</abbr>
		</th>
	   	<th tal:condition="shop/getDisplayPriceWithTax">
			<abbr change:i18nattr="title &modules.order.frontoffice.totalprice-with-tax;" change:translate="modules.order.frontoffice.totalprice-with-tax-abr">PT TTC€</abbr>
		</th>
	</tr>

	<tr tal:repeat="line order/getLineArray" align="center">
		<tal:block tal:define="global product cartLine/getProduct" />
		<tal:block tal:define="global cartLineIndex repeat/cartLine/index" />
		<!-- Article -->
		<td>${line/getCodeReference}</td>
		<!-- Désignation -->
		<td>
			<a tal:condition="product" change:link="document product">${line/getLabel}</a>
			<a tal:condition="not: product">${line/getLabel}</a>
		</td>
		<!-- PU HT -->
		<td tal:condition="shop/getDisplayPriceWithoutTax">${php:order.formatPrice(line.getUnitPriceWithoutTax())}</td>
		<!-- PU TTC -->
		<td tal:condition="shop/getDisplayPriceWithTax">${php:order.formatPrice(line.getUnitPriceWithTax())}</td>
		<!-- Quantity -->
		<td>${line/getQuantity}</td>
		<!-- PT HT -->
		<td tal:condition="shop/getDisplayPriceWithoutTax">${php:order.formatPrice(line.getAmountWithoutTax())}</td>
		<!-- PT TTC -->
		<td tal:condition="shop/getDisplayPriceWithTax">${php:order.formatPrice(line.getAmountWithTax())}</td>
	</tr>
</table><br />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr align="left">
	<td style="padding-left: 18px; padding-bottom: 10px;">
		<span style="font-weight: bold;" change:translate="modules.order.bo.general.Total-to-payLabel"></span> 
		${orderAmount}<br />
		<span style="font-weight: bold;" change:translate="modules.order.frontoffice.Shipping-modeLabel"></span>
		${shippingMode}<br />
		<span style="font-weight: bold;" change:translate="modules.order.frontoffice.Shipping-feesLabel"></span>
		${shippingFeesWithTax}
	</td>
  </tr>
  <tr align="left">
	<td style="padding-left: 18px; font-weight: bold; width: 50%;">
		<span change:translate="modules.order.frontoffice.Billing-addressLabel"></span>
	</td>
	<td style="padding-left: 18px; font-weight: bold; width: 50%;">
		<span change:translate="modules.order.frontoffice.Shipping-addressLabel"></span>
	</td>
  </tr>
  <tr align="left">
	<td style="padding-left: 30px; width: 50%;" tal:define="address order/getBillingAddress">
		${address/getTitle/getLabelAsHtml} ${address/getFirstnameAsHtml} ${address/getLastnameAsHtml}<br />
		${address/getAddressLine1AsHtml}<br />
		<tal:block tal:condition="address/getAddressLine2">${address/getAddressline2AsHtml}<br /></tal:block>
		<tal:block tal:condition="address/getAddressLine3">${address/getAddressline3AsHtml}<br /></tal:block>
		${address/getZipcodeAsHtml} ${address/getCityAsHtml}<br />
		<tal:block tal:condition="address/getProvince">${address/getProvinceAsHtml}<br /></tal:block>
		${address/getCountry/getLabelAsHtml}<br />
		<tal:block tal:condition="address/getEmail">${address/getEmailAsHtml}<br /></tal:block>
		<tal:block tal:condition="address/getPhone">
			<span change:translate="modules.order.frontoffice.PhoneLabel"></span> ${address/getPhoneAsHtml}<br />
		</tal:block>
		<tal:block tal:condition="address/getFax">
			<span change:translate="modules.order.frontoffice.FaxLabel"></span> ${address/getFaxAsHtml}<br />
		</tal:block>
	</td>
	<td style="padding-left: 30px; width: 50%;" tal:define="address order/getShippingAddress">
		${address/getTitle/getLabelAsHtml} ${address/getFirstnameAsHtml} ${address/getLastnameAsHtml}<br />
		${address/getAddressLine1AsHtml}<br />
		<tal:block tal:condition="address/getAddressLine2">${address/getAddressline2AsHtml}<br /></tal:block>
		<tal:block tal:condition="address/getAddressLine3">${address/getAddressline3AsHtml}<br /></tal:block>
		${address/getZipcodeAsHtml} ${address/getCityAsHtml}<br />
		<tal:block tal:condition="address/getProvince">${address/getProvinceAsHtml}<br /></tal:block>
		${address/getCountry/getLabelAsHtml}<br />
		<tal:block tal:condition="address/getEmail">${address/getEmailAsHtml}<br /></tal:block>
		<tal:block tal:condition="address/getPhone">
			<span change:translate="modules.order.frontoffice.PhoneLabel"></span> ${address/getPhoneAsHtml}<br />
		</tal:block>
		<tal:block tal:condition="address/getFax">
			<span change:translate="modules.order.frontoffice.FaxLabel"></span> ${address/getFaxAsHtml}<br />
		</tal:block>
	</td>
  </tr>
</table>