<?xml version="1.0" encoding="utf-8"?>
<config>
	<module>
		<enabled>true</enabled>
		<visible>true</visible>
		<icon>order</icon>
		<category>e-commerce</category>
		<usetopic>false</usetopic>
	</module>
	<project>
		<!-- Feeders for product suggestions. -->
		<modulesCatalogProductSuggestionFeeder>
			<entry name="1">order_OrderedTogetherProductFeeder</entry>
		</modulesCatalogProductSuggestionFeeder>
		
		<!-- In normal cases, genPDF needs genNumber.
		If genPDF is setted to true and genNumber to false,
		be sure some code set the orderNumber in OrderService::preInsert() -->
		<entry name="genNumber">true</entry>
		<entry name="genBill">false</entry>
		<entry name="billPDFGenerator">order_FPDFBillGenerator</entry>
		<!-- 
		<entry name="billPDFGenerator">order_ODTBillGenerator</entry>
		 -->
		
		<!-- Activate the delayed generation of orders, bills, expeditions and credit notes numbers to ensure unicity. -->
		<entry name="delayNumberGeneration">true</entry>
		<!-- 
			<entry name="generateOrderNumbersChunkSize">100</entry>
			<entry name="generateBillNumbersChunkSize">100</entry>
			<entry name="generateOrderpreparationNumbersChunkSize">100</entry>
			<entry name="generateExpeditionNumbersChunkSize">100</entry>
			<entry name="generateCreditnoteNumbersChunkSize">100</entry>
		-->
		
		<!-- 
			<entry name="orderNumberStrategyClass">order_OrderNumberSequenceStrategy</entry>
			<entry name="billNumberStrategyClass">order_BillNumberYearSequenceStrategy</entry>
			<entry name="expeditionNumberStrategyClass">order_ExpeditionOrderNumberStrategy</entry>
			<entry name="creditNoteNumberStrategyClass">order_CreditNoteNumberYearSequenceStrategy</entry>
			<entry name="packetNumberStrategyClass"></entry>
			<entry name="orderPreparationNumberStrategyClass"></entry>
		-->
		
		<!--  Generation de l'expedition par défaut pour les commandes payés --> 
		<entry name="generateDefaultExpedition">true</entry>
		
		<!-- Utilisation de bon de preparation -->
		<entry name="useOrderPreparation">false</entry>
		
		<!-- Durrée maximum en minutes d'une facture en publicationstatus DRAFT avant son annulation --> 
		<entry name="maxDraftBillAge">60</entry>

		<orderProcess>
			<entry name="default">order_OrderProcess</entry>
		</orderProcess>
	</project>
		
	<modules>
		<catalog>
			<entry name="currentTaxZoneStrategyClass">order_CurrentTaxZoneStrategy</entry>
		</catalog>
	</modules>
</config>