<h2 change:h="">${trans:m.order.frontoffice.creditnotes-title,ucf}</h2>
<p tal:condition="not: creditnotes">${trans:m.order.frontoffice.creditnotes-empty,ucf}</p>
<table class="normal" tal:condition="creditnotes">
	<thead>
		<tr>
			<th>${trans:m.order.frontoffice.creditnotes-creditnote,ucf}</th>
			<th>${trans:m.order.frontoffice.creditnotes-date,ucf}</th>
			<th>${trans:m.order.frontoffice.creditnotes-total-amount,ucf}</th>
			<th>${trans:m.order.frontoffice.creditnotes-amount-not-applied,ucf}</th>
			<th>${trans:m.order.frontoffice.creditnotes-order,ucf}</th>
		</tr>
	</thead>
	<tbody>
		<tr tal:repeat="creditnote creditnotes" class="row-${repeat/creditnote/odd}">
			<td>
				<tal:block tal:condition="not:creditnote/hasTemporaryNumber">${creditnote/getLabelAsHtml}</tal:block>
				<tal:block tal:condition="creditnote/hasTemporaryNumber">${trans:m.order.frontoffice.new-creditnote,ucf}</tal:block>
			</td>
			<td>${datetime:creditnote/getOrder/getUICreationdate}</td>
			<td class="price">${creditnote/getAmountFormated}</td>
			<td class="price">${creditnote/getAmountNotAppliedFormated}</td>
			<td tal:define="order creditnote/getOrder">
				<a change:link="document order">
					<tal:block tal:condition="not:order/hasTemporaryNumber">${order/getOrderNumber}</tal:block>
					<tal:block tal:condition="order/hasTemporaryNumber">${trans:m.order.frontoffice.new-order,ucf}</tal:block>
				</a>
			</td>
		</tr>
	</tbody>
</table>