<div class="orderprocess identify">
	<tal:block change:include="module 'order'; template 'Order-Inc-Process-NavigationTop'; type 'html';process cart/getOrderProcess" />
	
	<form change:form="beanName identifyStep">
		<fieldset>
			<legend>${trans:m.order.document.identifystepbean.you-have-an-account-legend,ucf}</legend>
			<p class="normal">${trans:m.order.document.identifystepbean.you-have-an-account-text,ucf}</p>
			<ul change:errors=""></ul>
			<ol>
				<li><input change:field="name email" size="30" /></li>
				<li><input change:passwordinput="name password" value="" labeled="true" class="textfield passwordinput" size="30" /></li>
			</ol>
			<p class="buttons">
				<input change:submit="name Login" labeli18n="m.order.document.identifystepbean.login" />
				&nbsp;<a class="button" change:link="tag ctx_customer_password-lost">${trans:m.order.document.identifystepbean.lost-password,ucf}</a>
			</p>
		</fieldset>		
		<fieldset>
			<legend>${trans:m.order.document.identifystepbean.no-account-yet-legend,ucf}</legend>
			<p class="normal">${trans:m.order.document.identifystepbean.no-account-yet-text,ucf}</p>
			<p class="buttons">
				<input change:submit="name NewAccount" labeli18n="m.order.document.identifystepbean.newaccount" />
			</p>
		</fieldset>
	</form>
</div>