<div class="orderprocess billing">
	<tal:block change:include="module 'order'; template 'Order-Inc-Process-NavigationTop'; type 'html';process cart/getOrderProcess" />
	<form change:form="beanName billingStep">
		<ul change:errors=""></ul>
	
		<p>${trans:m.order.document.billingstepbean.transaction-amount-overview-text,ucf}</p>
		<br />
		<div class="payment-information-block" id="payment" tal:define="shop cart/getShop">
			<h4 change:h="">${trans:m.order.document.billingstepbean.transaction-amount-overview-head,ucf}</h4>
			<dl>
				<tal:block tal:condition="shop/getDisplayPriceWithoutTax">
					<dd>${trans:m.order.frontoffice.sub-total-withouttax-abr,ucf,lab}</dd>
					<dt>${php:cart.formatPrice(cart.getSubTotalWithoutTax())}</dt>
				</tal:block>
				<tal:block tal:condition="shop/getDisplayPriceWithTax">
					<dd>${trans:m.order.frontoffice.sub-total-withtax-abr,ucf,lab}</dd>
					<dt>${php:cart.formatPrice(cart.getSubTotalWithTax())}</dt>
				</tal:block>
				
				<tal:block tal:condition="billingStep/coupon">
					<dd>${trans:m.order.frontoffice.coupon-name,ucf,lab}</dd>
					<dt>${billingStep/coupon}
						(<a class="link" change:actionlink="" block="order_billingStep" action="RemoveCoupon">${trans:m.order.document.billingstepbean.removecoupon,ucf} </a>)
					</dt>
				</tal:block>
				
				<!-- discount -->
				<tal:block tal:repeat="discount cart/getDiscountDataArrayForDisplay">	
						<dd>${discount/label}</dd>
						<dt class="discount">${discount/valueWithTax}</dt>
				</tal:block>
				
				<tal:block tal:condition="cart/getShippingMode">
					<!-- Mode d'envoi -->
					<dd>${trans:m.order.frontoffice.shipping-mode,ucf,lab}</dd>
					<dt>${cart/getShippingMode/getLabelAsHtml}</dt>
					<!-- Frais d'envoi -->
					<dd>${trans:m.order.frontoffice.shipping-fees,ucf,lab}</dd>
					<dt>${php:cart.formatPrice(cart.getShippingPriceWithTax())}</dt>
				</tal:block>
				
				<tal:block tal:condition="not:cart/hasCreditNote">	
					<dd class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</dd>
					<dt class="pricetotal">${php:cart.formatPrice(cart.getTotalAmount())}</dt>
				</tal:block>
		
				<tal:block tal:condition="cart/hasCreditNote">	
					<dd class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</dd>
					<dt class="pricetotal">${php:cart.formatPrice(cart.getTotalWithTax())}</dt>
					
					<dd>${trans:m.order.frontoffice.creditnote-amount,ucf,lab}</dd>
					<dt>${php:shop.formatPrice(cart.getTotalCreditNoteAmount())}</dt>
						
					<dd class="pricetotal">${trans:m.order.frontoffice.creditnote-total,ucf,lab}</dd>
					<dt class="pricetotal">${php:cart.formatPrice(cart.getTotalAmount())}</dt>
				</tal:block>	
			</dl>
		</div>

		<tal:block tal:condition="cart/useCoupon">
			<dl tal:condition="not: billingStep/coupon">
				<dd>${trans:m.order.frontoffice.coupon-code,ucf,lab}</dd>
				<dt>	
					<input change:textinput="name coupon" size="10"/>
					<input class="button" change:submit="name Refresh" label="${trans:m.order.document.billingstepbean.refresh,ucf,attr}" />
				</dt>		
			</dl>
		</tal:block>
		<br />
	
		<h3 change:h="">${trans:m.order.document.billingstepbean.mops-legend,ucf}</h3>
		<p class="error" tal:condition="not: cart/getPaymentConnectors/0">${trans:m.order.document.billingstepbean.no-valid-mop,ucf}</p>
		<tal:block tal:condition="cart/getPaymentConnectors/0">
			<ol id="paymentselector" style="clear: both">
				<li tal:repeat="connectorFilter cart/getPaymentConnectors">
					<input tal:condition="php:billingStep.selected(connectorFilter.getId(), repeat.connectorFilter.start)" checked="checked" id="mode_${connectorFilter/getId}" 
						type="radio" name="orderParam[paymentFilterId]" value="${connectorFilter/getId}" />
					<input tal:condition="php:!billingStep.selected(connectorFilter.getId(), repeat.connectorFilter.start)" id="mode_${connectorFilter/getId}" 
						type="radio" name="orderParam[paymentFilterId]" value="${connectorFilter/getId}" />
					<label class="nocmx" for="mode_${connectorFilter/getId}">${connectorFilter/getConnector/getSelectionAsHtml}</label>
				</li>
			</ol>			
			<p class="buttons">
				<input class="button" change:submit="name Select" label="${trans:m.order.document.billingstepbean.select,ucf,attr}" />				
			</p>
		</tal:block>
	</form>
	<a class="link" change:actionlink="" block="order_shippingStep">${trans:m.order.frontoffice.back-to-previous-step,ucf}</a>
</div>