<div class="orderprocess shipping">
	<tal:block change:include="module 'order'; template 'Order-Inc-Process-NavigationTop'; type 'html';process cart/getOrderProcess" />	
	<form change:form="beanName shippingStep">
		<ul change:errors=""></ul>
			
		<fieldset>
			<legend>${trans:m.order.document.shippingstepbean.delivery-address-legend,ucf}</legend>
			<p class="normal">${trans:m.order.document.shippingstepbean.delivery-address-text,ucf}</p>
			<ol>
				<li><input change:field="name shippingAddress.Title"/></li>
				<li><input change:field="name shippingAddress.FirstName" size="30"/></li>
				<li><input change:field="name shippingAddress.LastName" size="30"/></li>
				<li><input change:field="name shippingAddress.Addressline1" size="30"/></li>
				<li><input change:field="name shippingAddress.Addressline2" size="30"/></li>
				<li><input change:field="name shippingAddress.Addressline3" size="30"/></li>
				<li><input change:field="name shippingAddress.Zipcode" size="30"/></li>
				<li><input change:field="name shippingAddress.City" size="30"/></li>
				<li><input change:field="name shippingAddress.Province" size="30"/></li>
				<li><input change:selectinput="name shippingAddress.CountryId" listId="modules_customer/shippingcountry" labeled="true" required="true"/></li>
				<li><input change:field="name shippingAddress.Company" size="30"/></li>
				<li><input change:field="name shippingAddress.Email" size="30"/></li>
				<li><input change:field="name shippingAddress.Phone" size="30"/></li>
				<li><input change:field="name shippingAddress.Fax" size="30"/></li>
			</ol>
			<div tal:condition="cart/getCustomer/getAddressCount">
				<label>${trans:m.order.document.shippingstepbean.registered-address-text,ucf,lab}</label>
				<select name="orderParam[registeredShippingAddress]">
					<option value="0">${trans:m.order.document.shippingstepbean.registered-address-choose,ucf}</option>
					<option tal:repeat="addr cart/getCustomer/getAddressArray" value="${addr/getId}">${addr/getLabel}</option>
				</select>
				<input change:submit="name UseRegisteredShippingAddress" labeli18n="m.order.document.shippingstepbean.registered-address-select" />
			</div>
		</fieldset>
		
		<fieldset>
			<legend>${trans:m.order.document.shippingstepbean.billing-address-legend,ucf}</legend>
			<p class="normal">${trans:m.order.document.shippingstepbean.billing-address-text,ucf}</p>
			<p class="normal"><input change:field="name useSameAddressForBilling" /><br class="cleaner" /></p>	
			<div id="order_billingAddressContainer">
				<ol>
					<li><input change:field="name billingAddress.Title"/></li>
					<li><input change:field="name billingAddress.FirstName" size="30"/></li>
					<li><input change:field="name billingAddress.LastName" size="30"/></li>
					<li><input change:field="name billingAddress.Addressline1" size="30"/></li>
					<li><input change:field="name billingAddress.Addressline2" size="30"/></li>
					<li><input change:field="name billingAddress.Addressline3" size="30"/></li>
					<li><input change:field="name billingAddress.Zipcode" size="30"/></li>
					<li><input change:field="name billingAddress.City" size="30"/></li>
					<li><input change:field="name billingAddress.Province" size="30"/></li>
					<li><input change:selectinput="name billingAddress.CountryId" listId="modules_customer/billingcountry" labeled="true" required="true"/></li>
					<li><input change:field="name billingAddress.Company" size="30"/></li>
					<li><input change:field="name billingAddress.Email" size="30"/></li>
					<li><input change:field="name billingAddress.Phone" size="30"/></li>
					<li><input change:field="name billingAddress.Fax" size="30"/></li>
				</ol>
				<div tal:condition="cart/getCustomer/getAddressCount">
					<label>${trans:m.order.document.shippingstepbean.registered-address-text,ucf,lab}</label>
					<select name="orderParam[registeredBillingAddress]">
						<option value="0">${trans:m.order.document.shippingstepbean.registered-address-choose,ucf}</option>
						<option tal:repeat="addr cart/getCustomer/getAddressArray" value="${addr/getId}">${addr/getLabel}</option>
					</select>
					<input change:submit="name UseRegisteredShippingAddress" labeli18n="m.order.document.shippingstepbean.registered-address-select" />
				</div>
			</div>
			<script type="text/javascript" tal:define="blockId configuration/getBlockId">//<![CDATA[
				jQuery(document).ready(function()
				{
					jQuery('#order_shippingStep${blockId}_useSameAddressForBilling_false').bind('click change', function()
							{jQuery('#order_billingAddressContainer').show();});
					jQuery('#order_shippingStep${blockId}_useSameAddressForBilling_true').bind('click change', function()
							{jQuery('#order_billingAddressContainer').hide();});
					if (jQuery('#order_shippingStep${blockId}_useSameAddressForBilling_true').attr('checked'))
					{
						jQuery('#order_billingAddressContainer').hide();
					}			
				});
			//]]></script>
		</fieldset>

		<tal:block tal:condition="cart/hasPredefinedShippingMode" tal:define="shippingModes cart/getRequiredShippingModes">
			<fieldset>
				<legend>${trans:m.order.document.shippingstepbean.fixed-shipping-mode,ucf}</legend>
				<ol>
					<li tal:repeat="modeFilter shippingModes">
						<tal:block tal:define="mode modeFilter/getMode">
							<span>
								<label class="nocmx">
									${structure mode/getLabelAsHtml}
									<tal:block tal:condition="modeFilter/getValueWithTax">  (${modeFilter/getFormattedValueWithTax})</tal:block>
									<tal:block tal:condition="not: modeFilter/getValueWithTax"> (${trans:m.order.frontoffice.freeshipping,ucf})</tal:block>
								</label>
								<img change:media="document mode/getVisual/getId; class 'floatLeft'; format 'modules.media.frontoffice/thumbnail'" />
							</span>
							<p tal:condition="mode/getDescription">${structure mode/getDescriptionAsHtml}</p>
						</tal:block>
						<ul tal:define="cartLines php:cart.getCartLineArrayByShippingMode(modeFilter.getMode())">
							<li tal:repeat="cartLine cartLines">${structure cartLine/getProduct/getLabelAsHtml}</li>
						</ul>  
					</li>
				</ol>			
				<div class="cleaner"></div>
				<p class="normal error">${trans:m.order.document.shippingstepbean.no-shipping-mode,ucf}</p>
			</fieldset>				
		</tal:block>
		
		<tal:block tal:condition="cart/canSelectShippingModeId" tal:define="shippingModes cart/getShippingModes" > 
			<fieldset>
				<legend>${trans:m.order.document.shippingstepbean.choose-delivery-legend,ucf}</legend>	
				<tal:block tal:condition="shippingModes/0">
					<p class="normal">${trans:m.order.document.shippingstepbean.choose-delivery-text,ucf}</p>
					<ol>
						<li tal:repeat="modeFilter shippingModes">
							<tal:block tal:define="mode modeFilter/getMode">
								<span>
									<label class="nocmx" for="mode_${modeFilter/getId}">
										<input tal:condition="php:shippingStep.selected(modeFilter.getId(), repeat.modeFilter.start)" checked="checked" id="mode_${modeFilter/getId}" type="radio" name="orderParam[shippingFilterId]" value="${modeFilter/getId}" />
										<input tal:condition="php:!shippingStep.selected(modeFilter.getId(), repeat.modeFilter.start)" id="mode_${modeFilter/getId}" type="radio" name="orderParam[shippingFilterId]" value="${modeFilter/getId}" />
										${structure mode/getLabelAsHtml}
										<tal:block tal:condition="modeFilter/getValueWithTax"> (${modeFilter/getFormattedValueWithTax})</tal:block>
										<tal:block tal:condition="not: modeFilter/getValueWithTax"> (${trans:m.order.frontoffice.freeshipping,ucf})</tal:block>
									</label>
									<img change:media="document mode/getVisual/getId; class 'floatLeft'; format 'modules.media.frontoffice/thumbnail'" />
								</span>
								<p tal:condition="mode/getDescription">${structure mode/getDescriptionAsHtml}</p>
							</tal:block>
						</li>
					</ol>
				</tal:block>
				<p tal:condition="not: shippingModes/0" class="error">${trans:m.order.document.shippingstepbean.no-shipping-mode,ucf}</p>
			</fieldset>
		</tal:block>
		
		<p class="buttons" tal:condition="cart/canBeShipped">
			<input class="button" change:submit="name Select" labeli18n="m.order.document.shippingstepbean.select" />
		</p>
	</form>
	<p><a change:link="tag contextual_website_website_modules_order_cart">${trans:m.order.fo.back-to-cart,ucf}</a></p>
</div>