<h2 change:h="">
	<tal:block change:translate="&modules.order.frontoffice.Order-number-title; orderNumber order/getOrderNumber"/>
	(${order/getFoOrderStatusLabel})
</h2>

<ul class="mini-navigation">
	<li class="print"><a class="link" tal:attributes="href printLink" onclick="accessiblePrint(this); return false;" change:translate="modules.catalog.frontoffice.Print"></a></li>
	<li><a change:link="tag ctx_order_order-list" change:translate="modules.order.frontoffice.Order-back-to-list"></a></li>
	<li><a change:link="tag ctx_order_order-messages; orderParam[cmpref] order/getId" change:translate="modules.customer.frontoffice.Send-message-for-this-order"></a></li>
	<li><a change:link="tag ctx_order_order-messages; orderParam[cmpref] order/getId" change:translate="modules.customer.frontoffice.Message-history-for-this-order"></a></li>
	<tal:block change:loadhandler="generic_TaggedDocumentLoadHandler" args="returnsListPage, contextual_website_website_modules_productreturns_returnslist" />
	<li tal:condition="returnsListPage">
		<a change:link="document returnsListPage; productreturnsParam[cmpref] order/getId">${trans: m.productreturns.fo.returns-list-for-this-order,ucf}</a>
	</li>
</ul>

<table border="0" class="normal" change:i18nattr="summary &modules.order.frontoffice.Address;">
<thead>
		<tr>
			<th change:translate="modules.order.frontoffice.ShippingAddress"></th>
			<th change:translate="modules.order.frontoffice.BillingAddress"></th>
		</tr>
</thead>
<tbody>
	<tr>
		<td>
			<ol tal:define="address order/getShippingAddress">
				<li>${address/getTitle/getLabelAsHtml} ${address/getFirstnameAsHtml} ${address/getLastnameAsHtml}</li>
				<li>${address/getAddressLine1AsHtml}</li>
				<li tal:condition="address/getAddressLine2">${address/getAddressLine2AsHtml}</li>
				<li tal:condition="address/getAddressLine3">${address/getAddressLine3AsHtml}</li>
				<li>${address/getZipcodeAsHtml} ${address/getCityAsHtml}</li>
				<li tal:condition="address/getProvince">${address/getProvinceAsHtml}</li>
				<li>${address/getCountry/getLabelAsHtml}</li>
				<li tal:condition="address/getPhone">${address/getPhoneAsHtml}</li>
				<li tal:condition="address/getFax">${address/getFaxAsHtml}</li>
			</ol>
		</td>
		<td>
			<ol tal:define="address order/getBillingAddress">
				<li>${address/getTitle/getLabelAsHtml} ${address/getFirstnameAsHtml} ${address/getLastnameAsHtml}</li>
				<li>${address/getAddressLine1AsHtml}</li>
				<li tal:condition="address/getAddressLine2">${address/getAddressLine2AsHtml}</li>
				<li tal:condition="address/getAddressLine3">${address/getAddressLine3AsHtml}</li>
				<li>${address/getZipcodeAsHtml} ${address/getCityAsHtml}</li>
				<li tal:condition="address/getProvince">${address/getProvinceAsHtml}</li>
				<li>${address/getCountry/getLabelAsHtml}</li>
				<li tal:condition="address/getPhone">${address/getPhoneAsHtml}</li>
				<li tal:condition="address/getFax">${address/getFaxAsHtml}</li>
			</ol>
		</td>
	</tr>
</tbody>
</table>
<table border="0" class="normal" summary="${trans:m. &modules.order.frontoffice.cart-table-summary,ucf}">
	<thead>
		<tr>
		    <th>${trans:m.order.frontoffice.designation,ucf}</th>
			<th tal:condition="shop/getDisplayPriceWithoutTax">
				<abbr title="${trans:m.order.frontoffice.unitprice-without-tax,ucf}">${trans:m.order.frontoffice.unitprice-without-tax-abr,ucf}</abbr>
			</th>
			<th tal:condition="shop/getDisplayPriceWithTax">
				<abbr title="${trans:m.order.frontoffice.unitprice-with-tax,ucf}">${trans:m.order.frontoffice.unitprice-with-tax-abr,ucf}</abbr>
			</th>
		    <th>${trans:m.order.frontoffice.quantity,ucf}</th>
			<th tal:condition="shop/getDisplayPriceWithoutTax">
				<abbr title="${trans:m.order.frontoffice.totalprice-without-tax,ucf}">${trans:m.order.frontoffice.totalprice-without-tax-abr,ucf}</abbr>
			</th>
		   	<th class="last" tal:condition="shop/getDisplayPriceWithTax">
				<abbr title="${trans:m.order.frontoffice.totalprice-with-tax,ucf}">${trans:m.order.frontoffice.totalprice-with-tax-abr,ucf}</abbr>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr tal:repeat="line order/getLineArray" class="row-${repeat/line/odd}">
			<td change:include="module 'order'; template 'Order-Inc-OrderLine'; type 'html'; shop shop; order order; line line" />
		</tr>
	</tbody>
</table>

<div class="column-two">
	<div class="payment-information-block">
		<dl>
			<tal:block tal:condition="shop/getDisplayPriceWithoutTax">
				<dd change:translate="modules.order.frontoffice.Sub-total-withouttax-abrLabel" />
				<dt>${php:order.formatPrice(order.getLinesAmountWithoutTax())}</dt>
			</tal:block>
			<tal:block tal:condition="shop/getDisplayPriceWithTax">
				<dd change:translate="modules.order.frontoffice.Sub-total-withtax-abrLabel" />
				<dt>${php:order.formatPrice(order.getLinesAmountWithTax())}</dt>
			</tal:block>
	
			<!-- Mode d'envoi -->
			<tal:block tal:condition="order/getShippingModeId">
				<dd>${trans:m.order.frontoffice.shipping-mode,ucf,lab}</dd>
				<dt>${order/getShippingMode}</dt>
			</tal:block>
			
			<!-- fees -->
			<tal:block tal:repeat="fees order/getFeesDataArrayForDisplay">	
					<dd>${fees/label}</dd>
					<dt class="discount">${fees/valueWithTax}</dt>
			</tal:block>	
					
			<!-- coupon -->
			<tal:block tal:condition="order/getCouponId" tal:define="coupon order/getCouponData">
				<dd change:translate="modules.order.frontoffice.Coupon-codeLabel"></dd>
				<dt>${coupon/code}</dt>
			</tal:block>
			
			<!-- discount -->
			<tal:block tal:repeat="discount order/getDiscountDataArrayForDisplay">	
				<dd>${discount/label}</dd>
				<dt class="discount">${discount/valueWithTax}</dt>
			</tal:block>
			
			<!-- Montants par taxe -->
			<tal:block tal:repeat="PriceByTax order/getTotalTaxInfoArray">
				<dd>${trans:m.order.frontoffice.tva,ucf,lab,rate=PriceByTax/formattedTaxRate}</dd>
				<dt>${php:order.formatPrice(PriceByTax['taxAmount'])}</dt>
			</tal:block>
			
			
			<dd class="pricetotal" change:translate="modules.order.frontoffice.Total-TVA-abrLabel" />
			<dt class="pricetotal">${php:order.formatPrice(order.getTotalTax())}</dt>	
			
			<tal:block tal:condition="not:order/hasCreditNote">				
				<dd class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</dd>
				<dt class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax())}</dt>
			</tal:block>
			
			<tal:block tal:condition="order/hasCreditNote">				
				<dd class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</dd>
				<dt class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax() + order.getTotalCreditNoteAmount())}</dt>
				
				<dd>${trans:m.order.frontoffice.creditnote-amount,ucf,lab}</dd>
				<dt>${php:order.formatPrice(order.getTotalCreditNoteAmount())}</dt>
				
				<dd class="pricetotal">${trans:m.order.frontoffice.creditnote-total,ucf,lab}</dd>
				<dt class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax())}</dt>
			</tal:block>	

		</dl>
	</div>
	<a change:actionlink="" block="order_order" class="link" action="addToCart" cmpref="${order/getId}" change:translate="modules.order.frontoffice.Add-order-articles-to-cart"></a>
</div>
<div class="cleaner"></div>
<tal:block tal:repeat="bill bills">
	<tal:block change:block="" name="payment" module="payment" billid="${bill/getId}" />
</tal:block>
<div class="cleaner"></div>
<tal:block tal:repeat="expedition expeditions">
	<tal:block change:block="" name="expedition" module="order" expeditionid="${expedition/getId}" />
</tal:block>