<ul class="mini-navigation">
	<li class="print"><a class="link" tal:attributes="href printLink" onclick="accessiblePrint(this); return false;">${trans:m.catalog.frontoffice.print,ucf}</a></li>
	<li><a change:link="tag ctx_order_order-list">${trans:m.order.frontoffice.order-back-to-list,ucf}</a></li>
	<li><a change:link="tag ctx_order_order-messages; orderParam[cmpref] order/getId">${trans:m.customer.frontoffice.send-message-for-this-order,ucf}</a></li>
	<li><a change:link="tag ctx_order_order-messages; orderParam[cmpref] order/getId">${trans:m.customer.frontoffice.message-history-for-this-order,ucf}</a></li>
	<tal:block change:loadhandler="generic_TaggedDocumentLoadHandler" args="returnsListPage, contextual_website_website_modules_productreturns_returnslist" />
	<li tal:condition="returnsListPage">
		<a change:link="document returnsListPage; productreturnsParam[cmpref] order/getId">${trans: m.productreturns.fo.returns-list-for-this-order,ucf}</a>
	</li>
</ul>

<h1 change:h="">
	${trans:m.order.frontoffice.order-number-title,orderNumber=order/getOrderNumber}
	(${order/getFoOrderStatusLabel})
</h1>

<div class="cleaner"></div>

<ol class="ecom-adresses">
	<li class="even">
		<dl tal:define="address order/getShippingAddress">
			<dt>${trans:m.order.frontoffice.shippingaddress,ucf}</dt>
				<dd>${address/getTitle/getLabel} ${address/getFirstname} ${address/getLastname}</dd>
				<dd>${address/getAddressLine1}</dd>
				<dd tal:condition="address/getAddressLine2">${address/getAddressLine2}</dd>
				<dd tal:condition="address/getAddressLine3">${address/getAddressLine3}</dd>
				<dd>${address/getZipcode} ${address/getCity}</dd>
				<dd tal:condition="address/getProvince">${address/getProvince}</dd>
				<dd>${address/getCountry/getLabel}</dd>
				<dd tal:condition="address/getPhone">${address/getPhone}</dd>
				<dd tal:condition="address/getFax">${address/getFax}</dd>
		</dl>
	</li>
	<li class="odd">
		<dl tal:define="address order/getBillingAddress">
			<dt>${trans:m.order.frontoffice.billingaddress,ucf}</dt>
				<dd>${address/getTitle/getLabel} ${address/getFirstname} ${address/getLastname}</dd>
				<dd>${address/getAddressLine1}</dd>
				<dd tal:condition="address/getAddressLine2">${address/getAddressLine2}</dd>
				<dd tal:condition="address/getAddressLine3">${address/getAddressLine3}</dd>
				<dd>${address/getZipcode} ${address/getCity}</dd>
				<dd tal:condition="address/getProvince">${address/getProvince}</dd>
				<dd>${address/getCountry/getLabel}</dd>
				<dd tal:condition="address/getPhone">${address/getPhone}</dd>
				<dd tal:condition="address/getFax">${address/getFax}</dd>
		</dl>
	</li>
</ol>

<table border="0" class="normal" summary="${trans:m.order.frontoffice.cart-table-summary,ucf}">
	<thead>
		<tr>
		    <th>${trans:m.order.frontoffice.designation,ucf}</th>
			<th tal:condition="shop/getDisplayPriceWithoutTax">
				<abbr title="${trans:m.order.frontoffice.unitprice-without-tax,ucf}">${trans:m.order.frontoffice.unitprice-without-tax-abr,ucf}</abbr>
			</th>
			<th tal:condition="shop/getDisplayPriceWithTax">
				<abbr title="${trans:m.order.frontoffice.unitprice-with-tax,ucf}">${trans:m.order.frontoffice.unitprice-with-tax-abr,ucf}</abbr>
			</th>
		    <th>${trans:m.order.frontoffice.quantity,ucf}</th>
			<th tal:condition="shop/getDisplayPriceWithoutTax">
				<abbr title="${trans:m.order.frontoffice.totalprice-without-tax,ucf}">${trans:m.order.frontoffice.totalprice-without-tax-abr,ucf}</abbr>
			</th>
		   	<th class="last" tal:condition="shop/getDisplayPriceWithTax">
				<abbr title="${trans:m.order.frontoffice.totalprice-with-tax,ucf}">${trans:m.order.frontoffice.totalprice-with-tax-abr,ucf}</abbr>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr tal:repeat="line order/getLineArray" class="${php: repeat.line.odd ? 'odd' : 'even'}">
			<td change:include="module 'order'; template 'Order-Inc-OrderLine'; type 'html'; shop shop; order order; line line" />
		</tr>
	</tbody>
</table>

<div class="column-two">
	<table class="normal payment-information" border="0">
		<tr tal:condition="shop/getDisplayPriceWithoutTax">
			<td>${trans:m.order.frontoffice.sub-total-withouttax-abr,ucf,lab}</td>
			<td>${php:order.formatPrice(order.getLinesAmountWithoutTax())}</td>
		</tr>
		<tr tal:condition="shop/getDisplayPriceWithTax">
			<td>${trans:m.order.frontoffice.sub-total-withtax-abr,ucf,lab}</td>
			<td>${php:order.formatPrice(order.getLinesAmountWithTax())}</td>
		</tr>

		<!-- Mode d'envoi -->
		<tr tal:condition="order/getShippingModeId">
			<td>${trans:m.order.frontoffice.shipping-mode,ucf,lab}</td>
			<td>${order/getShippingMode}</td>
		</tr>
		
		<!-- fees -->
		<tr tal:repeat="fees order/getFeesDataArrayForDisplay">	
			<td>${fees/label}</td>
			<td>${fees/valueWithTax}</td>
		</tr>	
				
		<!-- coupon -->
		<tr tal:condition="order/getCouponId" tal:define="coupon order/getCouponData">
			<td>${trans:m.order.frontoffice.coupon-code,ucf,lab}</td>
			<td>${coupon/code}</td>
		</tr>
		
		<!-- discount -->
		<tr tal:repeat="discount order/getDiscountDataArrayForDisplay">	
			<td>${discount/label}</td>
			<td class="discount">${discount/valueWithTax}</td>
		</tr>
		
		<!-- Montants par taxe -->
		<tr tal:repeat="PriceByTax order/getTotalTaxInfoArray">
			<td>${trans:m.order.frontoffice.tva,ucf,lab,rate=PriceByTax/formattedTaxRate}</td>
			<td>${php:order.formatPrice(PriceByTax['taxAmount'])}</td>
		</tr>
		
		<tr>
			<td class="pricetotal" tal:content="trans:m.order.frontoffice.total-withouttax-abr,ucf,lab" />
			<td class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithoutTax())}</td>
		</tr>
		
		<tr>
			<td class="pricetotal">${trans:m.order.frontoffice.total-tva-abr,ucf,lab}</td>
			<td class="pricetotal">${php:order.formatPrice(order.getTotalTax())}</td>	
		</tr>
		
		<tr tal:condition="not:order/hasCreditNote">				
			<td class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</td>
			<td class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax())}</td>
		</tr>
		
		<tal:block tal:condition="order/hasCreditNote">				
			<tr>
				<td class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</td>
				<td class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax() + order.getTotalCreditNoteAmount())}</td>
			</tr>
			<tr>	
				<td>${trans:m.order.frontoffice.creditnote-amount,ucf,lab}</td>
				<td>${php:order.formatPrice(order.getTotalCreditNoteAmount())}</td>
			</tr>
			<tr>
				<td class="pricetotal">${trans:m.order.frontoffice.creditnote-total,ucf,lab}</td>
				<td class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax())}</td>
			</tr>
		</tal:block>	
	</table>
	<a change:actionlink="" block="order_order" action="addToCart" cmpref="${order/getId}">${trans:m.order.frontoffice.add-order-articles-to-cart,ucf}</a>
</div>
<div class="cleaner"></div>

<tal:block tal:repeat="bill bills">
	<tal:block change:block="" name="payment" module="payment" billid="${bill/getId}" />
</tal:block>
<div class="cleaner"></div>

<tal:block tal:repeat="expedition expeditions">
	<tal:block change:block="" name="expedition" module="order" expeditionid="${expedition/getId}" />
</tal:block>