<ul class="mini-navigation">
	<li>
		<a change:link="document order">${trans:m.customer.frontoffice.back-to-order,ucf}</a>
	</li>
</ul>

<h1 change:h=""><span>${trans:m.order.frontoffice.shipping-number,ucf}</span> ${expedition/getLabelAsHtml}</h1>
<h2 change:h="">${trans:m.order.frontoffice.general-informations,ucf}</h2>
<dl tal:define="shippingMode expedition/getShippingMode" class="inline-items normal-margin">
	<dt>${trans:m.order.frontoffice.related-order,ucf}</dt>
	<dd>
		<tal:block tal:condition="not:order/hasTemporaryNumber">
			<a change:link="document order">${order/getOrderNumber}</a> (${datetime:order/getUICreationdate})
		</tal:block>
		<tal:block tal:condition="order/hasTemporaryNumber">
			<a change:link="document order">${datetime:order/getUICreationdate}</a>
		</tal:block>
	</dd>
	<dt>${trans:m.order.frontoffice.expedition-status,ucf}</dt>
	<dd>${expedition/getStatusLabel}</dd>
	<dt>${trans:m.order.frontoffice.transport-name,ucf}</dt>
	<dd>${shippingMode/getLabelAsHtml}</dd>
	<tal:block tal:condition="expedition/getShippingDate">
		<dt>${trans:m.order.document.expedition.shippingdate,ucf}</dt>
		<dd>${datetime:expedition/getUIShippingDate}</dd>
	</tal:block>
</dl>

<h2 change:h="">${trans:m.order.frontoffice.expedition-lines,ucf}</h2>
<table class="normal">
	<thead>
		<tr>
			<th>${trans:m.order.frontoffice.designation,ucf}</th>
			<th>${trans:m.order.frontoffice.product-download,ucf}</th>
		</tr>
	</thead>
	<tbody>
		<tr tal:repeat="line expeditionlines" class="${php: repeat.line.odd ? 'odd' : 'even'}">
			<td>${line/getProduct/getLabelAsHtml}<br />${line/getProduct/getCodeReferenceAsHtml}</td>
			<td>
				<a tal:condition="line/getURL" class="link download" href="${line/getURL}">${trans:m.order.frontoffice.product-download,ucf}</a> ${line/getURLClick} <span>${trans:m.order.frontoffice.product-download-count,ucf}</span>
			</td>
		</tr>
	</tbody>
</table>