<h3 change:h=""><span change:translate="modules.order.frontoffice.Shipping-number"></span> ${expedition/getLabelAsHtml} (${expedition/getStatusLabel})</h3>
<ol tal:define="shippingMode expedition/getShippingMode">
	<li><span change:translate="modules.order.frontoffice.Transport-nameLabel"></span> ${shippingMode/getLabelAsHtml}</li>
	<li><span change:translate="modules.order.frontoffice.Tracking-numberLabel"></span> ${expedition/getTrackingNumber}</li>
	<li tal:repeat="line expeditionlines">
		<span>${line/getProduct/getLabel} - ${line/getProduct/getCodeReference} </span>
		<span>${line/getQuantity} / ${line/getOrderProductQuantity} </span>
		<tal:block tal:condition="line/getURL">
			<a class="link download" href="${line/getURL}" change:translate="modules.order.frontoffice.Product-download">Télécharger</a> ${line/getURLClick} <span change:translate="modules.order.frontoffice.Product-download-count">Téléchargement(s)</span>
		</tal:block>
	</li>
</ol>