<h2 change:h="" change:translate="modules.order.frontoffice.My-cart"></h2>

<ul class="mini-navigation">
	<li class="print">
		<a class="link" tal:attributes="href printLink" onclick="accessiblePrint(this); return false;">${trans:m.catalog.frontoffice.print,ucf}</a></li>
	<li>
		<a change:link="tag ctx_catalog_favorite-product-list; catalogParam[addCartToList] cart/getCatalogId">${trans:m.order.frontoffice.add-cart-to-list,ucf}</a>
	</li>
	<li>
		<a change:link="module order; action ContinueShopping; cmpref cart/getShopId">${trans:m.order.frontoffice.continue-shopping,ucf}</a>
	</li>
</ul>

<tal:block change:block="" module="order" name="CartMessages" handleCantOrderMessage="true" />

<form class="" method="post" tal:attributes="action updateActionUrl">
	<input name="orderParam[shopId]" type="hidden" tal:attributes="value cart/getShopId" />
	<p class="normal">
		<input change:submit="name Refresh" class="button" label="${trans:m.order.frontoffice.update-button,ucf,attr}" />
	</p>
	<table class="normal" border="0" summary="${trans:m.order.frontoffice.cart-table-summary,ucf,attr}">
		<thead>
			<tr>
				<th class="first">&nbsp;</th>
				<th>${trans:m.order.frontoffice.designation,ucf}</th>
				<th>${trans:m.order.frontoffice.availability,ucf}</th>
				<th tal:condition="shop/getDisplayPriceWithTax">
					<abbr title="${trans:m.order.frontoffice.unitprice-with-tax,attr}">${trans:m.order.frontoffice.unitprice-with-tax-abr}</abbr>
				</th>
				<th>${trans:m.order.frontoffice.quantity,ucf}</th>
				<th tal:condition="shop/getDisplayPriceWithTax">${trans:m.order.frontoffice.tva-column,ucf}</th>
				<th tal:condition="shop/getDisplayPriceWithTax">
					<abbr title="${trans:m.order.frontoffice.totalprice-with-tax,attr}">${trans:m.order.frontoffice.totalprice-with-tax-abr}</abbr>
				</th>
				<th class="last">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tal:block tal:repeat="cartLine cart/getCartLineArray">
			
				<tr tal:condition="cartLine/getDiscountId" class="row-${repeat/cartLine/odd}" tal:define="product cartLine/getProduct; cartLineIndex repeat/cartLine/index">
					<!-- Visual -->
					<td>
						<a change:link="document product" tal:condition="product/getDefaultVisual">
							<img change:media="document product/getDefaultVisual; format 'modules.catalog.frontoffice/cartdetailproduct'" />
						</a>
						<tal:block tal:condition="not: product/getDefaultVisual">&nbsp;</tal:block>
					</td>
	
					<!-- Désignation / Article -->
					<td>${cartLine/getDiscountDetail}<br /> 
						${product/getOrderLabelAsHtml}
					</td>
	
					<!-- Disponibilite -->
					<td tal:content="product/getAvailability" />
					<td class="pricettc" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getValueWithTax())}</td>
	
					<!-- Quantity -->
					<td> ${cartLine/getQuantity} </td>
	
					<!-- TVA -->
					<td class="priceht" tal:condition="shop/getDisplayPriceWithTax">${cartLine/getFormattedTaxCode}</td>
					<td class="pricettc" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getTotalValueWithTax())}</td>
	
					<!-- Remove link -->
					<td class="sale">&#160;</td>
				</tr>
				
				<tr tal:condition="not: cartLine/getDiscountId" class="row-${repeat/cartLine/odd}" tal:define="product cartLine/getProduct; cartLineIndex repeat/cartLine/index">
					<!-- Visual -->
					<td>
						<a change:link="document product" tal:condition="product/getDefaultVisual">
							<img change:media="document product/getDefaultVisual; format 'modules.catalog.frontoffice/cartdetailproduct'" />
						</a>
						<tal:block tal:condition="not: product/getDefaultVisual">&nbsp;</tal:block>
					</td>
	
					<!-- Désignation / Article -->
					<td tal:condition="readonly">${product/getOrderLabelAsHtml}</td>
					<td tal:condition="not: readonly">
						${product/getOrderLabelAsHtml} <input type="hidden" tal:define="name string:orderParam[lines][${cartLineIndex}][productId]" tal:attributes="name name; value product/getId" />
					</td>
	
					<!-- Disponibilite -->
					<td tal:content="product/getAvailability" />
					<td class="pricettc" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getValueWithTax())}</td>
	
					<!-- Quantity -->
					<td tal:define="name string:orderParam[lines][${cartLineIndex}][quantity]; update product/updateCartQuantity">
						<label class="hidden" tal:attributes="for name">${trans:m.order.frontoffice.Quantity,ucf,lab}</label> 
						<input class="textfield" tal:condition="update" type="text" size="3" tal:attributes="name name; value cartLine/getQuantity" />
						<tal:block tal:condition="not: update">
							<input  class="textfield" type="hidden" tal:attributes="name name; value  cartLine/getQuantity"/> ${cartLine/getQuantity}
						</tal:block>
					</td>
	
					<!-- TVA -->
					<td class="priceht" tal:condition="shop/getDisplayPriceWithTax">${cartLine/getFormattedTaxCode}</td>
					<td class="pricettc" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getTotalValueWithTax())}</td>
	
					<!-- Remove link -->
					<td class="sale">
						<a tal:condition="not: readonly" change:link="module order; action RemoveCartLine; cartLineIndex cartLineIndex; pageref pageref">
							<img change:image="front/cross.gif" alt="${trans:m.order.frontoffice.delete-link,ucf,attr}" />
						</a>
						<tal:block tal:condition="readonly">&nbsp;</tal:block>
					</td>
				</tr>
			</tal:block>
		</tbody>
	</table>
</form>

<!-- ANCIEN EMPLACEMENT COLUMN-ONE -->

<div class="column-two">
<div class="payment-information-block">
	<dl>
		<tal:block tal:condition="shop/getDisplayPriceWithoutTax">
			<dd>${trans:m.order.frontoffice.sub-total-withouttax-abr,ucf,lab}</dd>
			<dt>${php:cart.formatPrice(cart.getSubTotalWithoutTax())}</dt>
		</tal:block>
	
		<tal:block tal:condition="shop/getDisplayPriceWithTax">
			<dd>${trans:m.order.frontoffice.sub-total-withtax-abr,ucf,lab}</dd>
			<dt>${php:cart.formatPrice(cart.getSubTotalWithTax())}</dt>
		</tal:block>
	
		<!-- Montants par taxe -->
		<tal:block tal:repeat="PriceByTax cart/getFormattedSubTotalTaxByRate">
			<dd>${trans:m.order.frontoffice.tva,ucf,lab,rate=PriceByTax/formattedTaxRate}</dd>
			<dt>${PriceByTax/formattedTaxAmount}</dt>
		</tal:block>
		
		<!-- discount -->
		<tal:block tal:repeat="discount cart/getDiscountDataArrayForDisplay">	
				<dd>${discount/label}</dd>
				<dt class="discount">${discount/valueWithTax}</dt>
		</tal:block>
			
		<tal:block tal:condition="php: cart.getShippingModeId()">
			<!-- shipping -->
			<dd>${trans:m.order.frontoffice.shipping-mode,ucf,lab}</dd>
			<dt>${cart/getShippingLabel}</dt>
			<dd>${trans:m.order.frontoffice.shipping-fees,ucf,lab}</dd>
			<dt>${php:cart.formatPrice(cart.getShippingPriceWithTax())}</dt>
		</tal:block>
		
		<tal:block tal:condition="not:cart/hasCreditNote">	
			<dd class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</dd>
			<dt class="pricetotal">${php:cart.formatPrice(cart.getTotalAmount())}</dt>
		</tal:block>

		<tal:block tal:condition="cart/hasCreditNote">	
			<dd class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</dd>
			<dt class="pricetotal">${php:cart.formatPrice(cart.getTotalWithTax())}</dt>
			
			<dd>${trans:m.order.frontoffice.creditnote-amount,ucf,lab}</dd>
			<dt>${php:cart.formatPrice(cart.getTotalCreditNoteAmount())}</dt>
				
			<dd class="pricetotal">${trans:m.order.frontoffice.creditnote-total,ucf,lab}</dd>
			<dt class="pricetotal">${php:cart.formatPrice(cart.getTotalAmount())}</dt>
		</tal:block>		
	</dl>
</div>

<p class="help" tal:condition="orderProcess/open">${trans:m.order.frontoffice.cart-help-updatecart,ucf}</p>
<div class="block-confirm-order">
	<ul class="mini-navigation">
		<li>
			<a change:link="tag contextual_website_website_modules_catalog_favorite-product-list; catalogParam[addCartToList] 'true'">${trans:m.order.frontoffice.add-cart-to-list,ucf}</a>
		</li>
		<li>
			<a change:link="module order; action ContinueShopping; cmpref cart/getShopId">${trans:m.order.frontoffice.continue-shopping,ucf}</a>
		</li>
	</ul>
</div>
</div>

<div class="column-one">
	<div class="productcart-information-block">
		<tal:block tal:condition="configuration/getShowEvaluateShipping">
			<form change:form="beanClass order_ShippingStepBean; beanName addressInfo" id="evaluateshippingform">
				<ul change:errors=""></ul>
				
				<h3 change:h="">${trans:m.order.document.shippingstepbean.evaluateShipping,ucf}</h3>
				<p>${trans:m.order.document.shippingstepbean.evaluateShipping-text,ucf}</p>
				<ol>
					<li><input change:field="name shippingAddress.Zipcode" size="30" required="false"/></li>
					<li><input change:field="name shippingAddress.City" size="30" required="false"/></li>
					<li><input change:selectinput="name shippingAddress.CountryId" listId="modules_customer/shippingcountry" labeled="true" required="false"/></li>
				</ol>
				<input change:hiddeninput="name evaluateshipping" value="1" />
				<p class="buttons">
					<input class="button" change:submit="name Evaluateshipping" label="${trans:m.order.document.shippingstepbean.evaluateShipping-button,ucf,attr}" />
				</p>
			</form>
			<tal:block tal:condition="evaluateshipping">
				<tal:block tal:condition="cart/canSelectShippingModeId" tal:define="shippingModes cart/getShippingModes" > 		
					<tal:block tal:condition="shippingModes/0">
					<h4 change:h="">${trans:m.order.document.shippingstepbean.evaluateShipping-results,ucf}</h4>
					<ul>
						<li tal:repeat="modeFilter shippingModes">
							<tal:block tal:define="mode modeFilter/getMode">
								${mode/getLabel} - 
								<strong>
									<tal:block tal:condition="modeFilter/getValueWithTax"> 
										<tal:block tal:replace="modeFilter/getFormattedValueWithTax" />
									</tal:block>
									<tal:block tal:condition="not: modeFilter/getValueWithTax">
										${trans:m.order.frontoffice.freeShipping,ucf}
									</tal:block>
								</strong>
							</tal:block>
						</li>
					</ul>
					</tal:block>
					<tal:block tal:condition="not: shippingModes/0">
						<p class="error">${trans:m.order.document.shippingstepbean.no-shipping-mode,ucf}</p>
					</tal:block>
					<div class="cleaner"></div>
					<br/>
				</tal:block>
			</tal:block>
		</tal:block>
		<tal:block tal:condition="configuration/getShowInstructions">
			<h3 change:h="">${trans:m.order.frontoffice.cart-help-title,ucf}</h3>
			<h4 change:h="">${trans:m.order.frontoffice.Cart-help-removeline-title,ucf,lab}</h4>
			<p>${trans:m.order.frontoffice.cart-help-removeline,ucf}</p>
			<h4 change:h="">${trans:m.order.frontoffice.cart-help-updatequantity-title,ucf,lab}</h4>
			<p>${trans:m.order.frontoffice.cart-help-updatequantity,ucf}</p>
			<h4 change:h="">${trans:m.order.frontoffice.cart-help-addproduct-title,ucf,lab}</h4>
			<p>${trans:m.order.frontoffice.cart-help-addproduct,ucf}</p>
			<h4 change:h="">${trans:m.order.frontoffice.cart-help-updatecart-title,ucf,lab}</h4>
			<p>${trans:m.order.frontoffice.Cart-help-updatecart,ucf}</p>
		</tal:block>
	</div>
</div>


<div class="cleaner"></div>

<br />
<h3 change:h="" change:translate="modules.order.frontoffice.orderProcess.Do-order"></h3>
<p class="error" tal:condition="not: orderProcess/open">
	<tal:block tal:condition="orderProcess/message">${orderProcess/message}</tal:block>
	<tal:block tal:condition="not: orderProcess/message" change:translate="&modules.order.frontoffice.orderProcess.closed-default-message;" />
</p>
<tal:block tal:condition="orderProcess/open">
	<tal:block tal:condition="not: errorMessages">
		<ul change:errors="" class="normal"></ul>
	
		<p> 
			<tal:block change:translate="modules.order.frontoffice.orderProcess.Pre-read-general-sales-conditions" />
			<a change:link="tag ctx_order_cgv" change:translate="modules.order.frontoffice.orderProcess.read-general-sales-conditions"></a>
			<tal:block change:translate="modules.order.frontoffice.orderProcess.post-read-general-sales-conditions" />
		</p>
	
		<form change:form="">
			<input required="true" change:checkboxinput="" class="nocmx" name="cgv" value="true" label="&modules.order.frontoffice.OrderProcess.Agree-with-general-sales-conditions;" />
			<p class="buttons"><input change:submit="name Order"  class="button" label="&modules.order.frontoffice.Order-button;" /></p>
		</form>
	</tal:block>
</tal:block>