<div class="orderprocess identify">
	<tal:block change:include="module 'order'; template 'Order-Inc-Process-NavigationTop'; type 'html';process cart/getOrderProcess" />
	<form change:form="beanName identifyStep">
		<fieldset>
			<legend>${trans:m.order.document.identifystepbean.your-login-details-legend,ucf}</legend>
			<p class="normal">${trans:m.order.document.identifystepbean.your-login-details-text,ucf}</p>
			<ul change:errors=""></ul>
			<ol>
				<li><input required="true" change:field="name newemail" size="30"/></li>
				<tal:block tal:condition="configuration/getConfirmEmail"> 
				<li><input required="true" change:field="name newemailconfirm; id order_identitfystep_newemailconfirm" /></li>
				</tal:block>
				<li><input required="true" change:field="name firstname" size="30" /></li>
				<li><input required="true" change:field="name lastname"  size="30"/></li>
				<li><input required="true" change:passwordinput="name newpassword" value="" labeled="true" class="textfield passwordinput" size="30" /></li>
				<li><input required="true" change:passwordinput="name newpasswordconfirm" value="" labeled="true" class="textfield passwordinput" size="30" /></li>
				<li></li>
			</ol>	
			<p class="buttons">
				<a class="button" change:actionlink="" block="${cart/getOrderProcess/getPreviousBlockType}">${trans:m.order.frontoffice.back-to-previous-step,ucf}</a>	
				<input change:submit="name CreateAccount" labeli18n="m.order.document.identifystepbean.createaccount" />
			</p>
		</fieldset>
	</form>
</div>