<div class="orderprocess confirm">
	<tal:block change:include="module 'order'; template 'Order-Inc-Process-NavigationTop'; type 'html';process cart/getOrderProcess" />

	<h3 change:h="">${trans:m.order.frontoffice.orderlist-order,ucf,lab} <a change:link="document order">${order/getOrderNumber}</a></h3>
	<div class="payment-information-block" id="payment" tal:define="shop cart/getShop">
		<dl>
			<tal:block tal:condition="shop/getDisplayPriceWithoutTax">
				<dd>${trans:m.order.frontoffice.sub-total-withouttax-abr,ucf,lab}</dd>
				<dt>${php:order.formatPrice(order.getLinesAmountWithoutTax())}</dt>
			</tal:block>
			<tal:block tal:condition="shop/getDisplayPriceWithTax">
				<dd>${trans:m.order.frontoffice.Sub-total-withtax-abr,ucf,lab}</dd>
				<dt>${php:order.formatPrice(order.getLinesAmountWithTax())}</dt>
			</tal:block>

			<!-- Mode d'envoi -->
			<tal:block tal:condition="order/getShippingModeId">
				<dd>${trans:m.order.frontoffice.shipping-mode,ucf,lab}</dd>
				<dt>${order/getShippingMode}</dt>
			</tal:block>
			
			<!-- fees -->
			<tal:block tal:repeat="fees order/getFeesDataArrayForDisplay">	
					<dd>${fees/label}</dd>
					<dt class="discount">${fees/valueWithTax}</dt>
			</tal:block>	
	
			<!-- discount -->
			<tal:block tal:repeat="discount order/getDiscountDataArrayForDisplay">	
				<dd>${discount/label}</dd>
				<dt class="discount">${discount/valueWithTax}</dt>
			</tal:block>
							
			<!-- Montants par taxe -->
			<tal:block tal:repeat="PriceByTax order/getTotalTaxInfoArray">
				<dd>${trans:m.order.frontoffice.tva,ucf,lab,rate=PriceByTax/formattedTaxRate}</dd>
				<dt>${php:order.formatPrice(PriceByTax['taxAmount'])}</dt>
			</tal:block>
								
	
			<tal:block tal:condition="not:order/hasCreditNote">				
				<dd class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</dd>
				<dt class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax())}</dt>
			</tal:block>
			
			<tal:block tal:condition="order/hasCreditNote">				
				<dd class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</dd>
				<dt class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax() + order.getTotalCreditNoteAmount())}</dt>
				
				<dd>${trans:m.order.frontoffice.creditnote-amount,ucf,lab}</dd>
				<dt>${php:order.formatPrice(order.getTotalCreditNoteAmount())}</dt>
				
				<dd class="pricetotal">${trans:m.order.frontoffice.creditnote-total,ucf,lab}</dd>
				<dt class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax())}</dt>
			</tal:block>	
		</dl>
	</div>
	<div class="cleaner"></div>
	<tal:block class="errors" tal:condition="not: bills/0">
			<h3 change:h="">${trans:m.order.frontoffice.payment-failed,ucf}</h3>
			<p><strong class="error">${trans:m.order.frontoffice.payment-failed-text,ucf}</strong></p>
	</tal:block>
	<tal:block tal:repeat="bill bills">
		<tal:block change:block="" name="payment" module="payment" billid="${bill/getId}" />
	</tal:block>
</div>