<tal:block change:include="module 'order'; template 'Order-Inc-StdProcess-NavigationTop'; type 'html';cart cart; orderProcess orderProcess" />
<ul tal:condition="not: order/getId" class="errors">
	<li>${trans:m.order.standardprocess.result-invalid-order,ucf}</li>
</ul>
<tal:block tal:condition="order/getId">
	<h1 change:h="">${trans:m.order.standardprocess.result-status-title,ucf,lab} ${order/getOrderNumber}</h1>
	<ul class="normal">
		<li>${trans:m.order.standardprocess.result-status-date,ucf,lab} ${datetime:order/getUIModificationdate}</li>
		<li>${trans:m.order.standardprocess.result-client-ref,ucf,lab} ${order/getCustomer/getCodeReference}</li>
	</ul>
	<tal:block tal:condition="lastBill">
		<tal:block change:block="" name="payment" module="payment" billid="${lastBill/getId}" />
		<ul tal:condition="lastBillSuccess" class="normal">
			<li>${trans:m.order.standardprocess.result-order-number,ucf,lab} <a change:link="document order">${order/getOrderNumber}</a></li>
			<li>${trans:m.order.standardprocess.result-bill-number,ucf,lab} ${lastBill/getLabel}</li>
			<li tal:condition="lastBill/getPaymentTransactionId">${trans:m.order.standardprocess.result-transaction-id,ucf,lab} ${lastBill/getPaymentTransactionId}</li>
			<li>${trans:m.order.standardprocess.result-amount,ucf,lab} ${php:order.formatPrice(lastBill.getPaymentAmount())}</li>
		</ul>
	</tal:block>
</tal:block>