<div class="orderprocess shipping">
	<tal:block change:include="module 'order'; template 'Order-Inc-Process-NavigationTop'; type 'html';process cart/getOrderProcess" />	
	<form change:form="beanName shippingStep">
		<ul change:errors=""></ul>
			
		<h3 change:h="" change:translate="modules.order.document.shippingstepbean.Delivery-address-legend"></h3>
		<p change:translate="modules.order.document.shippingstepbean.Delivery-address-text"></p>
		<ol>
			<li><input change:field="name shippingAddress.Title"/></li>
			<li><input change:field="name shippingAddress.FirstName" size="30"/></li>
			<li><input change:field="name shippingAddress.LastName" size="30"/></li>
			<li><input change:field="name shippingAddress.Addressline1" size="30"/></li>
			<li><input change:field="name shippingAddress.Addressline2" size="30"/></li>
			<li><input change:field="name shippingAddress.Addressline3" size="30"/></li>
			<li><input change:field="name shippingAddress.Zipcode" size="30"/></li>
			<li><input change:field="name shippingAddress.City" size="30"/></li>
			<li><input change:field="name shippingAddress.Province" size="30"/></li>
			<li><input change:selectinput="name shippingAddress.CountryId" listId="modules_customer/shippingcountry" labeled="true" required="true"/></li>
			<li><input change:field="name shippingAddress.Company" size="30"/></li>
			<li><input change:field="name shippingAddress.Email" size="30"/></li>
			<li><input change:field="name shippingAddress.Phone" size="30"/></li>
			<li><input change:field="name shippingAddress.Fax" size="30"/></li>
		</ol>
		<div tal:condition="cart/getCustomer/getAddressCount">
			<span change:translate="modules.order.document.shippingstepbean.Registered-address-textLabel"></span>
			<select name="orderParam[registeredShippingAddress]">
				<option value="0" change:translate="modules.order.document.shippingstepbean.Registered-address-choose"></option>
				<option tal:repeat="addr cart/getCustomer/getAddressArray" value="${addr/getId}">${addr/getLabel}</option>
			</select>
			<input class="button" change:submit="name UseRegisteredShippingAddress" change:i18nattr="label &amp;modules.order.document.shippingstepbean.Registered-address-select;" />
		</div>
		
		<br />
		
		<h3 change:h="" change:translate="modules.order.document.shippingstepbean.Billing-address-legend"></h3>
		<p change:translate="modules.order.document.shippingstepbean.Billing-address-text"></p>
		<br />
		
		<input change:field="name useSameAddressForBilling" />	
		<div id="order_billingAddressContainer">
			<ol>
				<li><input change:field="name billingAddress.Title"/></li>
				<li><input change:field="name billingAddress.FirstName" size="30"/></li>
				<li><input change:field="name billingAddress.LastName" size="30"/></li>
				<li><input change:field="name billingAddress.Addressline1" size="30"/></li>
				<li><input change:field="name billingAddress.Addressline2" size="30"/></li>
				<li><input change:field="name billingAddress.Addressline3" size="30"/></li>
				<li><input change:field="name billingAddress.Zipcode" size="30"/></li>
				<li><input change:field="name billingAddress.City" size="30"/></li>
				<li><input change:field="name billingAddress.Province" size="30"/></li>
				<li><input change:selectinput="name billingAddress.CountryId" listId="modules_customer/billingcountry" labeled="true" required="true"/></li>
				<li><input change:field="name billingAddress.Company" size="30"/></li>
				<li><input change:field="name billingAddress.Email" size="30"/></li>
				<li><input change:field="name billingAddress.Phone" size="30"/></li>
				<li><input change:field="name billingAddress.Fax" size="30"/></li>
			</ol>
			<div tal:condition="cart/getCustomer/getAddressCount">
				<span change:translate="modules.order.document.shippingstepbean.Registered-address-textLabel"></span>
				<select name="orderParam[registeredBillingAddress]">
					<option value="0" change:translate="modules.order.document.shippingstepbean.Registered-address-choose">[Séléctionner]</option>
					<option tal:repeat="addr cart/getCustomer/getAddressArray" value="${addr/getId}">${addr/getLabel}</option>
				</select>
				<input class="button" change:submit="name UseRegisteredShippingAddress" change:i18nattr="label &amp;modules.order.document.shippingstepbean.Registered-address-select;" />
			</div>
		</div>
		<script type="text/javascript">//<![CDATA[
			jQuery(document).ready(function()
			{
				jQuery('#order_shippingStep_useSameAddressForBilling_false').bind('click change', function()
						{jQuery('#order_billingAddressContainer').show();});
				jQuery('#order_shippingStep_useSameAddressForBilling_true').bind('click change', function()
						{jQuery('#order_billingAddressContainer').hide();});
				if (jQuery('#order_shippingStep_useSameAddressForBilling_true').attr('checked'))
				{
					jQuery('#order_billingAddressContainer').hide();
				}			
			});
		//]]></script>	
		<div class="cleaner"></div>
		<br />
		<tal:block tal:condition="cart/hasPredefinedShippingMode"
			tal:define="shippingModes cart/getRequiredShippingModes">
				<h3 change:h="" change:translate="modules.order.document.shippingstepbean.fixed-shipping-mode">Mode de livraison predefini</h3>
				<ol>
					<li tal:repeat="modeFilter shippingModes">
						<span tal:define="mode modeFilter/getMode">
						<label class="nocmx">
							<tal:block tal:replace="mode/getLabel" />
							<tal:block tal:condition="modeFilter/getValueWithTax"> (<tal:block tal:replace="modeFilter/getFormattedValueWithTax" />)</tal:block>
						</label>
						<img style="display:inline;float:left" change:media="document mode/getVisual/getId; class 'floatLeft'; format 'modules.media.frontoffice/thumbnail'" />
						</span>
							<p tal:condition="mode/getDescription">	
								<tal:block tal:content="mode/getDescription" />
							</p>
						<ul tal:define="cartLines php:cart.getCartLineArrayByShippingMode(modeFilter.getMode())">
							<li tal:repeat="cartLine cartLines">${cartLine/getProduct/getLabelAsHtml}</li>
						</ul>  
					</li>
				</ol>			
				<div class="cleaner"></div>
			<tal:block tal:condition="not: shippingModes/0">
				<p change:translate="modules.order.document.shippingstepbean.No-shipping-mode" class="error"></p>
			</tal:block>				
		</tal:block>
		
		<tal:block tal:condition="cart/canSelectShippingModeId" tal:define="shippingModes cart/getShippingModes" > 
			<h3 change:h="" change:translate="modules.order.document.shippingstepbean.Choose-delivery-legend"></h3>
		
			<tal:block tal:condition="shippingModes/0">
			<p change:translate="modules.order.document.shippingstepbean.Choose-delivery-text"></p>
			<br />
			<ol>
				<li tal:repeat="modeFilter shippingModes">
					<span tal:define="mode modeFilter/getMode">
					<label class="nocmx" for="mode_${modeFilter/getId}">
					<input tal:condition="php:shippingStep.selected(modeFilter.getId(), repeat.modeFilter.start)" checked="checked" id="mode_${modeFilter/getId}" type="radio" name="orderParam[shippingFilterId]" value="${modeFilter/getId}" />
					<input tal:condition="php:!shippingStep.selected(modeFilter.getId(), repeat.modeFilter.start)" id="mode_${modeFilter/getId}" type="radio" name="orderParam[shippingFilterId]" value="${modeFilter/getId}" />
	<tal:block tal:replace="mode/getLabel" /><tal:block tal:condition="modeFilter/getValueWithTax"> (<tal:block tal:replace="modeFilter/getFormattedValueWithTax" />)</tal:block></label>
													<img style="display:inline;float:left" change:media="document mode/getVisual/getId; class 'floatLeft'; format 'modules.media.frontoffice/thumbnail'" />
						
					</span>
						<p tal:condition="mode/getDescription">	
							<tal:block tal:content="mode/getDescription" />
						</p>
				</li>
			</ol>
			</tal:block>
			<tal:block tal:condition="not: shippingModes/0">
				<p change:translate="modules.order.document.shippingstepbean.No-shipping-mode" class="error" />
			</tal:block>
			<div class="cleaner"></div>
		</tal:block>
		<p class="buttons" tal:condition="cart/canBeShipped">
			<input class="button" change:submit="name Select" label="&modules.order.document.shippingstepbean.Select;" />
		</p>
	</form>
</div>