<tal:block change:include="module 'order'; template 'Order-Inc-StdProcess-NavigationTop'; type 'html';cart cart" />

<div class="columns">
	<div class="column-75">
		<form tal:condition="cart/useCoupon" change:form="">
			<fieldset>
				<legend class="h-2">${trans:m.order.standardprocess.coupon,ucf}</legend>
				<ul change:errors="relKey coupon"></ul>
				<ol>
					<li tal:condition="not: cart/hasCoupon">
						<label for="billing-coupon-code">${trans:m.order.standardprocess.coupon-input,ucf,lab}</label>
						<input change:textinput="name coupon" size="10" id="billing-coupon-code"/>
						<input change:submit="name UpdateCoupon" labeli18n="m.generic.frontoffice.buttons.ok" />
					</li>
					<li tal:condition="cart/hasCoupon">
						<label for="billing-coupon-code">${trans:m.order.standardprocess.coupon,ucf,lab}</label>
						<span>${cart/getCoupon/getLabel}</span>
						<input change:submit="name UpdateCoupon" labeli18n="m.order.standardprocess.delete-coupon" id="billing-coupon-code"/>
					</li>
				</ol>
			</fieldset>
		</form>
		
		<form change:form="">
			<fieldset>
				<legend class="h-2">${trans:m.order.standardprocess.billing-title,ucf}</legend>
				<ul change:errors="relKey paymentFilter"></ul>		
				<ol id="paymentselector" style="clear: both" tal:condition="paymentFilters">
					<li tal:repeat="paymentFilter cart/getPaymentConnectors">
						<input change:radioinput="name paymentFilterId; withcolon false" id="paymentFilter" value="${paymentFilter/getId}" label="${paymentFilter/getConnector/getSelectionAsHtml}" />
					</li>
				</ol>
			</fieldset>
			<p class="buttons" >
				<a change:actionlink="" block="${cart/getOrderProcess/getPreviousBlockType}">${trans:m.order.frontoffice.back-to-previous-step,ucf}</a>
				<input tal:condition="canContinue" change:submit="name nextStep" class="button primary" labeli18n="m.order.standardprocess.next-step" />
			</p>	
		</form>
	</div>
	<div class="column-25">
		<div class="summary">
			<h2 change:h="">${trans:m.order.standardprocess.summary,ucf}</h2>
			<div class="normal section">
				<table class="normal payment-information">	
					<caption class="h-3">${trans:m.order.standardprocess.billing-amount-title,ucf}</caption>
					<tr>
						<td>${trans:m.order.standardprocess.resume-article-count,ucf,lab}</td>
						<td class="price">${cart/getTotalProductCount}</td>
					</tr>
					<tr>
						<td>${trans:m.order.standardprocess.resume-lines-total,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(cart.getSubTotalWithoutTax())}</td>
					</tr>
					<tr tal:condition="php:cart.getFeesTotalWithTax() GT 0">
						<td>${trans:m.order.standardprocess.resume-fees,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(cart.getFeesTotalWithTax())}</td>
					</tr>
					<tr tal:condition="php:cart.getDiscountTotalWithTax() GT 0">
						<td>${trans:m.order.standardprocess.resume-discount,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(-cart.getDiscountTotalWithTax())}</td>
					</tr>
					<tr tal:condition="php:cart.getTotalCreditNoteAmount() GT 0">
						<td>${trans:m.order.standardprocess.resume-credit-note,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(-cart.getTotalCreditNoteAmount())}</td>
					</tr>
					<tr>
						<td>${trans:m.order.standardprocess.resume-total-ttc,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(cart.getTotalAmount())}</td>
					</tr>
				</table>
				<p class="buttons"><a class="link" href="${cart/getCartUrl}">${trans:m.order.standardprocess.modify-cart,ucf}</a></p>
			</div>
			<div class="normal section">
				<h3 change:h="">${trans:m.order.standardprocess.resume-address-billing,ucf}</h3>
				<ul class="address normal-margin">
					<li tal:repeat="line billingAddress">${line}</li>
				</ul>
				<p class="buttons"><a class="link" href="${cart/getOrderProcess/getAddressStepUrl}">${trans:m.order.standardprocess.modify-addresses,ucf}</a></p>
			</div>
			<div class="normal section">
				<h3 change:h="">${trans:m.order.standardprocess.resume-address-shipping,ucf}</h3>
				<ul class="address normal-margin">
					<li tal:repeat="line shippingAddress">${line}</li>
				</ul>
				<p class="buttons"><a class="link" href="${cart/getOrderProcess/getAddressStepUrl}">${trans:m.order.standardprocess.modify-addresses,ucf}</a></p>
			</div>
			
			
	   		<div tal:condition="cart/getShippingModeId" class="normal section">
				<h3 change:h="">${trans:m.order.standardprocess.shipping-title,ucf}</h3>
				<ul class="normal-margin">
					<li>${cart/getShippingResumeAsHtml}</li>
				</ul>
				<p class="buttons"><a class="link" href="${cart/getOrderProcess/getShippingStepUrl}">${trans:m.order.standardprocess.modify-shipping-mode,ucf}</a></p>
			</div>
		</div>
	</div>
</div>