<div class="orderprocess billing">
    <tal:block change:include="module 'order'; template 'Order-Inc-StdProcess-NavigationTop'; type 'html';cart cart" />
    <div class="main">
    	<h3 change:h="">${trans:m.order.standardprocess.resume-order-title,ucf}</h3>
    	<p>Détail de votre panier: <a href="${cart/getCartUrl}">${trans:m.order.standardprocess.modify}</a></p>
    	<table class="normal product-lines" border="0" summary="" >
    		<thead>
				<tr>
					<th>${trans:m.order.standardprocess.order-product-qtt,ucf}</th>
					<th colspan="2">${trans:m.order.standardprocess.order-product-description,ucf}</th>
					<th>${trans:m.order.standardprocess.order-product-availability,ucf}</th>
					<tal:block tal:condition="showPrice">
					<th>${trans:m.order.standardprocess.order-product-unit-price,ucf}</th>	
					<th tal:condition="showPriceWithoutTax">${trans:m.order.standardprocess.order-product-price-ht}</th>
					<th tal:condition="showPriceWithTax">${trans:m.order.standardprocess.order-product-price-ttc}</th>
					</tal:block>
				</tr>
			</thead>
			<tbody>
				<tal:block tal:repeat="cartLine cart/getCartLineArray">
					<tr class="row-${repeat/cartLine/odd}" tal:define="product cartLine/getProduct;">						
						<td>${cartLine/getQuantity} </td>
						<td><img change:media="document product/getDefaultVisual; format 'modules.catalog.frontoffice/cartdetailproduct'" /></td> 
						<td>${product/getOrderLabel}</td>
						<td>${product/getAvailability} </td>
						<tal:block tal:condition="showPriceWithoutTax">
							<td>${php:cart.formatPrice(cartLine.getValueWithoutTax())}</td>
							<td>${php:cart.formatPrice(cartLine.getTotalValueWithoutTax())}</td>
						</tal:block>
						<tal:block tal:condition="showPriceWithTax">
							<td tal:condition="not: showPriceWithoutTax">${php:cart.formatPrice(cartLine.getValueWithTax())}</td>
							<td>${php:cart.formatPrice(cartLine.getTotalValueWithTax())}</td>
						</tal:block>
					</tr>
				</tal:block>
			</tbody>
    	</table>
    	
    	<form change:form="" tal:condition="cart/useCoupon">
			<h3 change:h="">${trans:m.order.standardprocess.coupon,ucf}</h3>
			<ul change:errors="relKey coupon"></ul>
			<ol>
				<li tal:condition="not: cart/hasCoupon">
					<label for="billing-coupon-code">${trans:m.order.standardprocess.coupon-input,ucf,lab}</label>
					<input change:textinput="name coupon" size="10" id="billing-coupon-code"/>
					<input change:submit="name UpdateCoupon" label="${trans:m.order.standardprocess.validate,ucf,attr}" />
				 </li>
				<li tal:condition="cart/hasCoupon">
					<label for="billing-coupon-code">${trans:m.order.standardprocess.coupon,ucf,lab} ${cart/getCoupon/getLabel}</label>
					<input change:submit="name UpdateCoupon" label="${trans:m.order.standardprocess.delete-coupon,ucf,attr}" id="billing-coupon-code"/>
				</li>
			</ol>		
		</form>
		
		<div class="payment-information-block" tal:condition="showPrice">
			<h3 change:h="">${trans:m.order.standardprocess.billing-amount-title,ucf}</h3>
			<dl>
				<tal:block tal:condition="showPriceWithoutTax">
					<dd>${trans:m.order.frontoffice.sub-total-withouttax-abr,ucf,lab}</dd>
					<dt>${php:cart.formatPrice(cart.getSubTotalWithoutTax())}</dt>
				</tal:block>
				<tal:block tal:condition="showPriceWithTax">
					<dd>${trans:m.order.frontoffice.sub-total-withtax-abr,ucf,lab}</dd>
					<dt>${php:cart.formatPrice(cart.getSubTotalWithTax())}</dt>
				</tal:block>		
				<tal:block tal:repeat="fees cart/getFeesDataArrayForDisplay">	
						<dd>${fees/label}</dd>
						<dt tal:condition="not: showPriceWithTax" class="discount">${fees/valueWithoutTax}</dt>
						<dt tal:condition="showPriceWithTax" class="discount">${fees/valueWithTax}</dt>
				</tal:block>
				<tal:block tal:repeat="discount cart/getDiscountDataArrayForDisplay">	
						<dd>${discount/label}</dd>
						<dt tal:condition="not: showPriceWithTax" class="discount">${discount/valueWithoutTax}</dt>
						<dt tal:condition="showPriceWithTax" class="discount">${discount/valueWithTax}</dt>
				</tal:block>
				
				<tal:block tal:condition="showPriceWithTax" tal:repeat="PriceByTax cart/getFormattedSubTotalTaxByRate">
					<dd>${trans:m.order.frontoffice.tva,ucf,lab,rate=PriceByTax/formattedTaxRate}</dd>
					<dt>${PriceByTax/formattedTaxAmount}</dt>
				</tal:block>
				
				<tal:block tal:condition="cart/hasCreditNote">
					<dd>${trans:m.order.frontoffice.creditnote-amount,ucf,lab}</dd>
					<dt>${php:cart.formatPrice(cart.getTotalCreditNoteAmount())}</dt>
				</tal:block>
			
				<dd class="pricetotal">${trans:m.order.standardprocess.billing-total-amount,ucf,lab}</dd>
				<dt class="pricetotal">${php:cart.formatPrice(cart.getTotalAmount())}</dt>
			</dl>
		</div>   	
	    <form change:form="">
			<h3 change:h="">${trans:m.order.standardprocess.billing-title,ucf}</h3>
			<ul change:errors="relKey paymentFilter"></ul>		
			
			<ol id="paymentselector" style="clear: both" tal:condition="paymentFilters">
				<li tal:repeat="paymentFilter cart/getPaymentConnectors">
					<input change:radioinput="name paymentFilterId" id="paymentFilter" value="${paymentFilter/getId}" />
					<label class="nocmx" for="paymentFilter_${paymentFilter/getId}">${paymentFilter/getConnector/getSelectionAsHtml}</label>
				</li>
			</ol>
			<p class="buttons" tal:condition="canContinue">
				<input change:submit="name nextStep" class="button" label="${trans:m.order.standardprocess.next-step,ucf}" />
			</p>	
			<p class="buttons" tal:condition="not: canContinue">
				<a class="link" change:actionlink="" block="${cart/getOrderProcess/getPreviousBlockType}">${trans:m.order.frontoffice.back-to-previous-step,ucf}</a>
			</p>		   	
	    </form>
	</div>
    <div class="resume">
   		<div class="resume-section">
    		<h4 change:h="">${trans:m.order.standardprocess.resume-address-shipping,ucf}</h4>
    		<ol>
    			<li>${shippingAddress}</li>
    			<li><a href="${cart/getOrderProcess/getAddressStepUrl}">${trans:m.order.standardprocess.modify}</a></li>
    		</ol>
    	</div>
    	
   		<div tal:condition="cart/getShippingModeId"  class="resume-section">
    		<h4 change:h="">${trans:m.order.standardprocess.shipping-title,ucf}</h4>
    		<ol>
    			<li>${cart/getShippingMode/getLabelAsHtml}</li>
    			<li><a href="${cart/getOrderProcess/getShippingStepUrl}">${trans:m.order.standardprocess.modify}</a></li>
    		</ol>
    	</div>

   		<div class="resume-section">
    		<h4 change:h="">${trans:m.order.standardprocess.resume-address-billing,ucf}</h4>
    		<ol>
    			<li>${billingAddress}</li>
    			<li><a href="${cart/getOrderProcess/getAddressStepUrl}">${trans:m.order.standardprocess.modify}</a></li>
    		</ol>
    	</div>
    </div>    
</div>