<!-- Désignation / référence -->
<td class="product-infos">
	${line/getLabelAsHtml}
</td>

<!-- PU HT/TCC -->
<td class="price" tal:condition="shop/getDisplayPriceWithoutTax">${php:order.formatPrice(line.getUnitPriceWithoutTax())}</td>
<td class="price" tal:condition="shop/getDisplayPriceWithTax">${php:order.formatPrice(line.getUnitPriceWithTax())}</td>

<!-- Quantity -->
<td>${line/getQuantity}</td>

<!-- PT HT/TTC -->
<td class="price" tal:condition="shop/getDisplayPriceWithoutTax">${php:order.formatPrice(line.getAmountWithoutTax())}</td>
<td class="price" tal:condition="shop/getDisplayPriceWithTax">${php:order.formatPrice(line.getAmountWithTax())}</td>