<div class="orderprocess billing">
	<tal:block change:include="module 'order'; template 'Order-Inc-Process-NavigationTop'; type 'html';process cart/getOrderProcess" />
	<form change:form="beanName billingStep">
		<ul change:errors=""></ul>
	
		<p change:translate="modules.order.document.billingstepbean.Transaction-amount-overview-text"></p>
		<br />
		<div class="payment-information-block" id="payment" tal:define="shop cart/getShop">
			<h4 change:h="" change:translate="modules.order.document.billingstepbean.Transaction-amount-overview-head"></h4>
			<dl>
				<tal:block tal:condition="shop/getDisplayPriceWithoutTax">
					<dd change:translate="&modules.order.frontoffice.Sub-total-withouttax-abrLabel;; currency shop/getCurrency">Sous-total HT :</dd>
					<dt>${cart/getFormattedSubTotalWithoutTax}</dt>
				</tal:block>
				<tal:block tal:condition="shop/getDisplayPriceWithTax">
					<dd change:translate="&modules.order.frontoffice.Sub-total-withtax-abrLabel;; currency shop/getCurrency">Sous-total HT :</dd>
					<dt>${cart/getFormattedSubTotalWithTax}</dt>
				</tal:block>
				
				<tal:block tal:condition="billingStep/coupon">
					<dd change:translate="modules.order.frontoffice.Coupon-nameLabel"></dd>
					<dt>${billingStep/coupon}
						(<a class="link" change:actionlink="" block="order_billingStep" action="RemoveCoupon"><tal:block change:translate="modules.order.document.billingstepbean.RemoveCoupon" /> </a>)
					</dt>
					<dd change:translate="modules.order.frontoffice.Coupon-valueLabel"></dd>
					<dt>${php:shop.formatPrice(billingStep.couponValue)}</dt>
				</tal:block>
				
				<tal:block tal:condition="cart/hasDiscount">
					<dd change:translate="modules.order.frontoffice.Discount-nameLabel"></dd>
					<dt>${cart/getFormattedDiscountTotalWithTax}</dt>
				</tal:block>
				
				<tal:block tal:condition="cart/getShippingMode">
					<!-- Mode d'envoi -->
					<dd change:translate="modules.order.frontoffice.Shipping-modeLabel"></dd>
					<dt>${cart/getShippingMode/getLabelAsHtml}</dt>
					<!-- Frais d'envoi -->
					<dd change:translate="modules.order.frontoffice.Shipping-feesLabel"></dd>
					<dt>${cart/getFormatedShippingPriceWithTax}</dt>
				</tal:block>
				
				<dd class="pricetotal" change:translate="modules.order.frontoffice.Total-withtax-abrLabel" />
				<dt class="pricetotal">${cart/getFormattedTotalWithTax}</dt>			
			</dl>
		</div>

		<tal:block tal:condition="cart/useCoupon">
			<dl tal:condition="not: billingStep/coupon">
				<dd change:translate="modules.order.frontoffice.Coupon-codeLabel" />
				<dt>	
					<input change:textinput="name coupon" size="10"/>
					<input class="button" change:submit="name Refresh" label="&modules.order.document.billingstepbean.Refresh;" />
				</dt>		
			</dl>
		</tal:block>
		<br />
	
		<h3 change:h="" change:translate="modules.order.document.billingstepbean.Mops-legend"></h3>
		<p class="error" tal:condition="not: cart/getPaymentConnectors/0" change:translate="&modules.order.document.billingstepbean.No-valid-mop;"></p>
		<tal:block tal:condition="cart/getPaymentConnectors/0">
			<ol id="paymentselector" style="clear: both">
				<li tal:repeat="connectorFilter cart/getPaymentConnectors">
					<input tal:condition="php:billingStep.selected(connectorFilter.getId(), repeat.connectorFilter.start)" checked="checked" id="mode_${connectorFilter/getId}" 
						type="radio" name="orderParam[paymentFilterId]" value="${connectorFilter/getId}" />
					<input tal:condition="php:!billingStep.selected(connectorFilter.getId(), repeat.connectorFilter.start)" id="mode_${connectorFilter/getId}" 
						type="radio" name="orderParam[paymentFilterId]" value="${connectorFilter/getId}" />
					<label class="nocmx" for="mode_${connectorFilter/getId}">${connectorFilter/getConnector/getSelectionAsHtml}</label>
				</li>
			</ol>			
			<p class="buttons">
				<input class="button" change:submit="name Select" label="&modules.order.document.billingstepbean.Select;" />				
			</p>
		</tal:block>
	</form>
	<a class="link" change:actionlink="" block="order_shippingStep" change:translate="modules.order.frontoffice.Back-to-previous-step"></a>
</div>