<h2 change:h="">${trans:m.order.frontoffice.creditnotes-title,ucf}</h2>
<p tal:condition="not: creditnotes">${trans:m.order.frontoffice.creditnotes-empty,ucf}</p>
<table class="normal" tal:condition="creditnotes">
	<thead>
		<tr>
			<th>${trans:m.order.frontoffice.creditnotes-creditnote,ucf}</th>
			<th>${trans:m.order.frontoffice.creditnotes-date,ucf}</th>
			<th>${trans:m.order.frontoffice.creditnotes-total-amount,ucf}</th>
			<th>${trans:m.order.frontoffice.creditnotes-amount-not-applied,ucf}</th>
			<th>${trans:m.order.frontoffice.creditnotes-order,ucf}</th>
		</tr>
	</thead>
	<tbody>
		<tr tal:repeat="creditnote creditnotes" class="row-${repeat/creditnote/odd}">	
			<td>${structure creditnote/getLabelAsHtml}</td>	
			<td>${datetime:creditnote/getOrder/getUICreationdate}</td>
			<td class="price">${creditnote/getAmountFormated}</td>								
			<td class="price">${creditnote/getAmountNotAppliedFormated}</td>							
			<td><a change:link="document creditnote/getOrder">${creditnote/getOrderNumber}</a></td>								
		</tr>
	</tbody>
</table>