<ul class="mini-navigation">
	<li>
		<a change:link="tag ctx_order_order; orderParam[cmpref] order/getId">${trans:m.customer.frontoffice.back-to-order,ucf}</a>
	</li>
</ul>

<h1 change:h="">${trans:m.customer.frontoffice.messages-for-order-title,ucf}</h1>

<dl class="inline-items">
	<dt>${trans:m.order.fo.order-number,ucf}</dt>
	<dd><a change:link="document order">${order/getOrderNumber}</a></dd>
	<dt>${trans:m.order.fo.order-date,ucf}</dt>
	<dd>${datetime:order/getUICreationdate}</dd>
</dl>

<form change:form="">
	<fieldset>
		<legend class="h-2">${trans:m.order.fo.write-messages-for-order,ucf}</legend>
		<ul change:messages=""></ul>
		<ul change:errors=""></ul>
		<ol>
			<li>
				<label class="standard" for="comment">${trans:m.customer.frontoffice.your-message,ucf,lab}</label>
				<textarea rows="10" cols="60" class="textfield" id="comment" name="orderParam[comment]">${comment}</textarea>	
				<input type="hidden" name="{orderParam[cmpref]}" value="${order/getId}" />	
			</li>
		</ol>
		<p class="buttons">
			<input class="button" value="${trans:m.customer.frontoffice.send,ucf,attr}" type="submit" />
			<input class="button secondary" value="${trans:m.customer.frontoffice.cancel,ucf,attr}" type="reset" />
		</p>	
	</fieldset>
</form>

<h2 change:h="">${trans:m.order.fo.messages-for-order,ucf}</h2>

<ul tal:condition="messages" class="document-list">
	<tal:block tal:repeat="message messages">
		<li class="fromcustomer ${alternateclass:messageIndex}" tal:condition="message/isSentByCustomer">
			<p>${trans:m.customer.frontoffice.message-sent-by-customer,ucf,companyName=companyName} ${datetime:message/getUICreationdate}</p>
			<div>${message/getContentAsHtml}</div>
		</li>
		<li class="tocustomer ${alternateclass:messageIndex}" tal:condition="not: message/isSentByCustomer">
			<p>${trans:m.customer.frontoffice.message-sent-by-company,ucf,companyName=companyName} ${datetime:message/getCreationdate}</p>
			<div>${message/getContentAsHtml}</div>
		</li>	
	</tal:block>
</ul>
<p tal:condition="not: messages">${trans:m.customer.frontoffice.no-message-for-this-order,ucf}</p>