<h2 change:h="" change:translate="modules.order.frontoffice.Orderlist-title"></h2>
<p change:translate="modules.order.frontoffice.Orderlist-description"></p>
<table border="0" class="normal">
	<thead>
		<tr>
			<th class="first" change:translate="modules.order.frontoffice.Orderlist-order" />
			<th change:translate="modules.order.frontoffice.Orderlist-date" />
			<th change:translate="modules.order.frontoffice.Orderlist-billing-mode" />
			<th change:translate="modules.order.frontoffice.Orderlist-price-with-tax" />
			<th change:translate="modules.order.frontoffice.Orderlist-status" />
			<th class="last" change:translate="modules.order.frontoffice.Orderlist-bill" />
		</tr>
	</thead>
	<tbody>
		<tr tal:repeat="order orders" class="row-${repeat/order/odd}">	
			<td><a change:link="document order">${order/getOrderNumber}</a></td>
			<td><tal:block change:datetime="order/getCreationdate" /></td>
			<td>${order/getBillingMode}</td>
			<td class="pricettc">${php:order.formatPrice(order.getTotalAmountWithTax())}</td>
			<td>${order/getFoOrderStatusLabel}</td>
			<td tal:define="bills order/getBillsWithArchive">
				<tal:block tal:repeat="bill bills">
					<a change:download="document bill/getArchive" change:translate="modules.order.frontoffice.Orderlist-bill"></a>
					<tal:block tal:condition="not: repeat/bill/end">, </tal:block>
				</tal:block>
				<span tal:condition="not: bills/0" change:translate="modules.order.frontoffice.Orderlist-billNotAvailable"></span>
			</td>
		</tr>
	</tbody>
</table>