<script type="text/javascript">
	/* <![CDATA[ */
	jQuery(document).ready(function() {
		var selectShippingFilter = function()
		{
			jQuery('#next-step').hide();
			jQuery('#shipping-updatemode').click();
		};
		jQuery('#shipping-filters input[type=radio]').change(selectShippingFilter);
		jQuery('#shipping-updatemode-cnt').hide();
	});
	/* ]]> */
</script>

<tal:block change:include="module 'order'; template 'Order-Inc-StdProcess-NavigationTop'; type 'html';cart cart" />
<div class="columns">
	<div class="column-75">
		<form change:form="">
			<fieldset tal:condition="hasPredefinedShippingMode">
				<legend>${trans:m.order.document.shippingstepbean.fixed-shipping-mode,ucf}</legend>
				<table class="normal">
					<tr tal:repeat="modeFilter requiredShippingFilters" class="${alternateclass:lineIndex}">
						<tal:block tal:define="mode modeFilter/getMode">
							<td>
								${structure mode/getLabelAsHtml}
								<tal:block tal:condition="mode/getDescription">
									<div class="description ctoggle" tal:condition="mode/hasLongDescription">
										<div class="short">${structure mode/getShortDescriptionAsHtml}</div>
										<div class="full">${structure mode/getDescriptionAsHtml}</div>
									</div>
									<div class="description" tal:condition="not:mode/hasLongDescription">${structure mode/getDescriptionAsHtml}</div>
								</tal:block>
								<dl class="inline-list" tal:define="cartLines php:cart.getCartLineArrayByShippingMode(modeFilter.getMode())">
									<dt tal:condition="php:count(cartLine) LE 1">${trans:m.order.fo.concerned-product,ucf}</dt>
									<dt tal:condition="php:count(cartLine) GT 1">${trans:m.order.fo.concerned-products,ucf,lab}</dt>
									<dd tal:repeat="cartLine cartLines">${structure cartLine/getProduct/getLabelAsHtml}<span class="punctuation" tal:condition="not:repeat/cartLine/end">, </span></dd>
								</dl>
							</td>
							<td class="price mode-price">
								<tal:block tal:condition="modeFilter/getValueWithTax">${modeFilter/getFormattedValueWithTax} <span class="tax-mode">${trans:m.catalog.frontoffice.ttc,uc}</span></tal:block>
								<tal:block tal:condition="not: modeFilter/getValueWithTax">${trans:m.order.frontoffice.freeshipping,ucf}</tal:block>
							</td>
							<td class="mode-visual">
								<img tal:condition="mode/getVisual" change:media="document mode/getVisual; format 'modules.order.frontoffice/mode-logo'" />
							</td>
						</tal:block>
					</tr>
					<tr tal:condition="requiredShippingModeErrors" class="${alternateclass:lineIndex}">
						<td colspan="3" tal:repeat="mode requiredShippingModeErrors">
							<ul class="errors"><li>${trans:m.order.standardprocess.required-shippingmode-not-found,ucf}</li></ul>
							<dl class="inline-list" tal:define="cartLines php:cart.getCartLineArrayByShippingMode(mode)">
								<dt tal:condition="php:count(cartLine) LE 1">${trans:m.order.fo.concerned-product,ucf}</dt>
								<dt tal:condition="php:count(cartLine) GT 1">${trans:m.order.fo.concerned-products,ucf,lab}</dt>
								<dd tal:repeat="cartLine cartLines">${structure cartLine/getProduct/getLabelAsHtml}<span class="punctuation" tal:condition="not:repeat/cartLine/end">, </span></dd>
							</dl>
						</td>
					</tr>
				</table>
			</fieldset>
	
			<fieldset tal:condition="canSelectShippingMode">
				<legend>${trans:m.order.document.shippingstepbean.choose-delivery-legend,ucf}</legend>	
				<ul change:errors="relKey shippingFilters"></ul>
				<tal:block tal:condition="shippingFilters">
					<p class="normal">${trans:m.order.document.shippingstepbean.choose-delivery-text,ucf}</p>
					<table id="shipping-filters" class="normal">
						<tr tal:repeat="modeFilter shippingFilters">
							<tal:block tal:define="mode modeFilter/getMode">
								<td>
									<label class="nocmx" for="shippingFilter_${modeFilter/getId}"><input change:radioinput="name shippingFilterId" id="shippingFilter" value="${modeFilter/getId}" labeled="false" /> ${structure mode/getLabelAsHtml}</label>
									<tal:block tal:condition="mode/getDescription">
										<div class="description ctoggle" tal:condition="mode/hasLongDescription">
											<div class="short">${structure mode/getShortDescriptionAsHtml}</div>
											<div class="full">${structure mode/getDescriptionAsHtml}</div>
										</div>
										<div class="description" tal:condition="not:mode/hasLongDescription">${structure mode/getDescriptionAsHtml}</div>
									</tal:block>
								</td>
								<td class="price mode-price">
									<tal:block tal:condition="modeFilter/getValueWithTax">${modeFilter/getFormattedValueWithTax} <span class="tax-mode">${trans:m.catalog.frontoffice.ttc,uc}</span></tal:block>
									<tal:block tal:condition="not: modeFilter/getValueWithTax">${trans:m.order.frontoffice.freeshipping,ucf}</tal:block>
								</td>
								<td class="mode-visual">
									<img tal:condition="mode/getVisual" change:media="document mode/getVisual; format 'modules.order.frontoffice/mode-logo'" />
								</td>
							</tal:block>
						</tr>
					</table>
					<p id="shipping-updatemode-cnt" class="buttons">
						<input change:submit="name updateMode" id="shipping-updatemode" label="${trans:m.order.standardprocess.update-shipping-mode,ucf}" />
					</p>
				</tal:block>
			</fieldset>

			<p class="buttons">
				<a change:actionlink="" block="${cart/getOrderProcess/getPreviousBlockType}">${trans:m.order.frontoffice.back-to-previous-step,ucf}</a>
				<input tal:condition="canContinue" change:submit="name nextStep" class="button primary" id="next-step" label="${trans:m.order.standardprocess.next-step,ucf}" />
			</p>
		</form>
	</div>	
	<div class="column-25">
		<div class="summary">
			<h2 change:h="">${trans:m.order.standardprocess.summary,ucf}</h2>
			<div class="normal section">
				<table class="normal payment-information">	
					<caption class="h-3">${trans:m.order.standardprocess.billing-amount-title,ucf}</caption>
					<tr>
						<td>${trans:m.order.standardprocess.resume-article-count,ucf,lab}</td>
						<td>${cart/getTotalProductCount}</td>
					</tr>
					<tr>
						<td>${trans:m.order.standardprocess.resume-lines-total,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(cart.getSubTotalWithoutTax())}</td>
					</tr>
					<tr tal:condition="php:cart.getFeesTotalWithTax() GT 0">
						<td>${trans:m.order.standardprocess.resume-fees,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(cart.getFeesTotalWithTax())}</td>
					</tr>
					<tr tal:condition="php:cart.getDiscountTotalWithTax() GT 0">
						<td>${trans:m.order.standardprocess.resume-discount,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(-cart.getDiscountTotalWithTax())}</td>
					</tr>
					<tr tal:condition="php:cart.getTotalCreditNoteAmount() GT 0">
						<td>${trans:m.order.standardprocess.resume-credit-note,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(-cart.getTotalCreditNoteAmount())}</td>
					</tr>
					<tr>
						<td>${trans:m.order.standardprocess.resume-total-ttc,ucf,lab}</td>
						<td class="price">${php:cart.formatPrice(cart.getTotalAmount())}</td>
					</tr>
				</table>
				<p class="buttons"><a class="link" href="${cart/getCartUrl}">${trans:m.order.standardprocess.modify-cart,ucf}</a></p>
			</div>
			<div class="normal section">
				<h3 change:h="">${trans:m.order.standardprocess.resume-address-billing,ucf}</h3>
				<ul class="address normal-margin">
					<li tal:repeat="line billingAddress">${line}</li>
				</ul>
				<p class="buttons"><a class="link" href="${cart/getOrderProcess/getAddressStepUrl}">${trans:m.order.standardprocess.modify-addresses,ucf}</a></p>
			</div>
			<div class="normal section">
				<h3 change:h="">${trans:m.order.standardprocess.resume-address-shipping,ucf}</h3>
				<ul class="address normal-margin">
					<li tal:repeat="line shippingAddress">${line}</li>
				</ul>
				<p class="buttons"><a class="link" href="${cart/getOrderProcess/getAddressStepUrl}">${trans:m.order.standardprocess.modify-addresses,ucf}</a></p>
			</div>
		</div>
	</div>
</div>