<div class="orderprocess confirm">
	<tal:block change:include="module 'order'; template 'Order-Inc-Process-NavigationTop'; type 'html';process cart/getOrderProcess" />

	<table class="normal payment-information" border="0" id="payment" tal:define="shop cart/getShop">	
		<caption>${trans:m.order.frontoffice.orderlist-order,ucf,lab} <a change:link="document order">${order/getOrderNumber}</a></caption>
		<tr tal:condition="shop/getDisplayPriceWithoutTax">
			<td>${trans:m.order.frontoffice.sub-total-withouttax-abr,ucf,lab}</td>
			<td>${php:order.formatPrice(order.getLinesAmountWithoutTax())}</td>
		</tr>
		<tr tal:condition="shop/getDisplayPriceWithTax">
			<td>${trans:m.order.frontoffice.sub-total-withtax-abr,ucf,lab}</td>
			<td>${php:order.formatPrice(order.getLinesAmountWithTax())}</td>
		</tr>
		
		<!-- Coupon -->
		<tr tal:condition="order/getCouponId" tal:define="coupon order/getCouponData">
			<td change:translate="modules.order.frontoffice.Coupon-nameLabel"></td>
			<td>${coupon/code}</td>
		</tr>
		
		<!-- Mode d'envoi -->
		<tr tal:condition="order/getShippingFeesWithTax">	
			<td>${trans:m.order.frontoffice.shipping-mode,ucf,lab}</td>
			<td>${order/getShippingMode}</td>
		</tr>	
		<!-- Fees -->
		<tr tal:repeat="fees order/getFeesDataArrayForDisplay">	
			<td>${fees/label} :</td>
			<td>${fees/valueWithTax}</td>
		</tr>
		
		<!-- discount -->
		<tr tal:repeat="discount order/getDiscountDataArrayForDisplay">
			<td>${discount/label} :</td>
			<td class="discount">${discount/valueWithTax}</td>
		</tr>					
		
		<!-- Montants par taxe -->
		<tr tal:repeat="PriceByTax order/getTotalTaxInfoArray">
			<td>${trans:m.order.frontoffice.tva,ucf,lab,rate=PriceByTax/formattedTaxRate}</td>
			<td>${php:order.formatPrice(PriceByTax['taxAmount'])}</td>
		</tr>
	
		<tr tal:condition="not:order/hasCreditNote">	
			<td class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</td>
			<td class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax())}</td>
		</tr>

		<tal:block tal:condition="order/hasCreditNote">	
			<tr>
				<td class="pricetotal">${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</td>
				<td class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax() + order.getTotalCreditNoteAmount())}</td>
			</tr>
			<tr>
				<td>${trans:m.order.frontoffice.creditnote-amount,ucf,lab}</td>
				<td>${php:order.formatPrice(order.getTotalCreditNoteAmount())}</td>
			</tr>
			<tr>
				<td class="pricetotal">${trans:m.order.frontoffice.creditnote-total,ucf,lab}</td>
				<td class="pricetotal">${php:order.formatPrice(order.getTotalAmountWithTax())}</td>
			</tr>
		</tal:block>
	</table>

	<tal:block class="errors" tal:condition="not: bills/0">
		<h3 change:h="">${trans:m.order.frontoffice.payment-failed,ucf}</h3>
		<p class="normal"><strong class="error">${trans:m.order.frontoffice.payment-failed-text,ucf}</strong></p>
	</tal:block>
	<tal:block tal:repeat="bill bills">
		<tal:block change:block="" name="payment" module="payment" billid="${bill/getId}" />
	</tal:block>
</div>