<ul class="mini-navigation">
	<li class="print">
		<a class="link" tal:attributes="href printLink" onclick="accessiblePrint(this); return false;">${trans:m.catalog.frontoffice.print,ucf}</a>
	</li>
</ul>

<h1 change:h="">${trans:m.order.frontoffice.my-cart,ucf}</h1>
<div class="cleaner"></div>
<tal:block tal:condition="cart/getContextId" change:block="" module="order" name="CartContext" container="" />
<form class="cmxform normal-margin" id="cart-lines" method="post" action="${updateActionUrl}">
	<tal:block change:block="" module="order" name="CartMessages" handleCantOrderMessage="true" container="" />
	<tal:block change:block="" module="website" name="messages" container="" />
	<table class="normal" summary="${trans:m.order.frontoffice.cart-table-summary,ucf,attr}">
		<thead>
			<tr>
				<th>&#160;</th>
				<th>${trans:m.order.frontoffice.designation,ucf}</th>
				<tal:block tal:condition="shop/getDisplayPrice">
					<th tal:condition="not:shop/getDisplayPriceWithTax">
						<abbr title="${trans:m.order.frontoffice.unitprice-without-tax,attr}">${trans:m.order.frontoffice.unitprice-without-tax-abr}</abbr>
					</th>
					<th tal:condition="shop/getDisplayPriceWithTax">
						<abbr title="${trans:m.order.frontoffice.unitprice-with-tax,attr}">${trans:m.order.frontoffice.unitprice-with-tax-abr}</abbr>
					</th>
				</tal:block>
				<th>${trans:m.order.frontoffice.quantity,ucf}</th>
				<th tal:condition="shop/getDisplayTax">${trans:m.order.frontoffice.tva-column,ucf}</th>
				<tal:block tal:condition="shop/getDisplayPrice">			
					<th tal:condition="not:shop/getDisplayPriceWithTax">
						<abbr title="${trans:m.order.frontoffice.totalprice-without-tax,attr}">${trans:m.order.frontoffice.totalprice-without-tax-abr}</abbr>
					</th>
					<th tal:condition="shop/getDisplayPriceWithTax">
						<abbr title="${trans:m.order.frontoffice.totalprice-with-tax,attr}">${trans:m.order.frontoffice.totalprice-with-tax-abr}</abbr>
					</th>
				</tal:block>
				<th>&#160;</th>
			</tr>
		</thead>
		<tbody>
			<tal:block tal:repeat="cartLine cart/getCartLineArray">
				<tr tal:condition="cartLine/getDiscountId" class="${alternateclass:lineId}" tal:define="product cartLine/getProduct; cartLineIndex repeat/cartLine/index">
					<td tal:define="visual product/getDefaultVisual" class="visual">
						<a tal:condition="visual" change:link="document product">
							<img change:media="document visual; format 'modules.catalog.frontoffice/small'" />
						</a>
						<tal:block tal:condition="not: visual">&#160;</tal:block>
					</td>
					<td class="product-infos">${cartLine/getDiscountDetail}<br />${product/getOrderLabelAsHtml}</td>
					<tal:block tal:condition="shop/getDisplayPrice">
						<td class="price" tal:condition="not:shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getValueWithoutTax())}</td>
						<td class="price" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getValueWithTax())}</td>
						<td>${cartLine/getQuantity}</td>
						<td tal:condition="shop/getDisplayTax">${cartLine/getFormattedTaxRate}</td>
						<td class="price" tal:condition="not:shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getTotalValueWithoutTax())}</td>
						<td class="price" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getTotalValueWithTax())}</td>
					</tal:block>
					<td>&#160;</td>
				</tr>
				<tr tal:condition="not: cartLine/getDiscountId" class="${alternateclass:lineId}" tal:define="product cartLine/getProduct; cartLineIndex repeat/cartLine/index">
					<td tal:define="visual product/getDefaultVisual" class="visual">
						<a tal:condition="visual" change:link="document product">
							<img change:media="document visual; format 'modules.catalog.frontoffice/small'" />
						</a>
						<tal:block tal:condition="not: visual">&#160;</tal:block>
					</td>
					<td class="product-infos">
						<a tal:condition="product/isConfigurable" change:link="document product/getConfigurationPage; cartLineIndex cartLineIndex" title="${trans:m.catalog.fo.configurate-product,ucf,attr}"><img change:img="icon/small/edit.png" alt="${trans:m.catalog.fo.configurate-product,ucf,attr}" /></a>
						${product/getOrderLabelAsHtml} <input type="hidden" name="${string:orderParam[lines][${cartLineIndex}][productId]}" value="${product/getId}" />
					</td>
					<tal:block tal:condition="shop/getDisplayPrice">
						<td class="price" tal:condition="not:shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getValueWithoutTax())}</td>
						<td class="price" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getValueWithTax())}</td>
					</tal:block>
					<td tal:define="name string:orderParam[lines][${cartLineIndex}][quantity]; update product/updateCartQuantity">
						<label class="hidden" tal:attributes="for name">${trans:m.order.frontoffice.Quantity,ucf,lab}</label> 
						<tal:block tal:condition="update">
							<input class="textfield" type="text" size="3" name="${name}" value="${cartLine/getQuantity}" />
							<input type="image" change:img="icon/small/refresh.png" />
						</tal:block>
						<tal:block tal:condition="not: update">
							<input type="hidden" name="${name}" value="${cartLine/getQuantity}" /> ${cartLine/getQuantity}
						</tal:block>
					</td>
					<td tal:condition="shop/getDisplayTax">${cartLine/getFormattedTaxRate}</td>
					<tal:block tal:condition="shop/getDisplayPrice">
						<td class="price" tal:condition="not:shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getTotalValueWithoutTax())}</td>
						<td class="price" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(cartLine.getTotalValueWithTax())}</td>
					</tal:block>
					<td>
						<a change:link="module order; action RemoveCartLine; cartLineIndex cartLineIndex; pageref pageref">
							<img change:image="front/cross.gif" alt="${trans:m.order.frontoffice.delete-link,ucf,attr}" />
						</a>
					</td>
				</tr>
			</tal:block>
		</tbody>
		<tbody tal:condition="cart/getModifierLineArray/0" >
			<tr>
				<th></th><th></th><tal:block tal:condition="shop/getDisplayPrice"><th tal:condition="not:shop/getDisplayPriceWithTax"></th>
				<th tal:condition="shop/getDisplayPriceWithTax"></th></tal:block><th></th><th tal:condition="shop/getDisplayTax"></th>
				<tal:block tal:condition="shop/getDisplayPrice"><th tal:condition="not:shop/getDisplayPriceWithTax"></th>
				<th tal:condition="shop/getDisplayPriceWithTax"></th></tal:block><th></th>
			</tr>
			<tr tal:repeat="line cart/getModifierLineArray">
				<td tal:define="visual line/getVisual" class="visual">
					<img tal:condition="visual" change:media="document visual; format 'modules.catalog.frontoffice/small'" />
					<tal:block tal:condition="not: visual">&#160;</tal:block>
				</td>
				<td class="product-infos">${line/getLabel}</td>
				<tal:block tal:condition="shop/getDisplayPrice">
					<td class="price" tal:condition="not:shop/getDisplayPriceWithTax">${php:cart.formatPrice(line.getValueWithoutTax())}</td>
					<td class="price" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(line.getValueWithTax())}</td>
				</tal:block>
				<td>${line/getQuantity}</td>
				<td tal:condition="shop/getDisplayTax">${line/getFormattedTaxRate}</td>
				<tal:block tal:condition="shop/getDisplayPrice">
					<td class="price" tal:condition="not:shop/getDisplayPriceWithTax">${php:cart.formatPrice(line.getTotalValueWithoutTax())}</td>
					<td class="price" tal:condition="shop/getDisplayPriceWithTax">${php:cart.formatPrice(line.getTotalValueWithTax())}</td>
				</tal:block>
				<td>&#160;</td>
			</tr>
		</tbody>
	</table>
	<div class="hidden">
		<input name="orderParam[shopId]" type="hidden" value="${cart/getShopId}" />
		<input name="orderParam[website_BlockAction_submit][][Refresh]" type="hidden" value="true" />
	</div>
	<p class="buttons nojs">
		<input change:submit="name Refresh; id refreshCart" labeli18n="m.order.frontoffice.update-button" />
	</p>
</form>

<div class="columns">
	<!-- Début : column-one -->
	<div class="column-50">
		<div class="productcart-information-block">
			<form change:form="" tal:condition="cart/useCoupon">
				<fieldset>
					<legend class="h-2">${trans:m.order.frontoffice.coupon-name,ucf}</legend>
					<ul change:errors="relKey coupon"></ul>
					<tal:block tal:condition="not: cart/hasCoupon">
						<ol>
							<li>
								<input change:textinput="name coupon" size="10" id="billing-coupon-code" labeli18n="m.order.frontoffice.coupon-code" />
							</li>
						</ol>
						<p class="buttons"><input change:submit="name UpdateCoupon" labeli18n="m.order.frontoffice.coupon-use" /></p>		
					</tal:block>
					<tal:block tal:condition="cart/hasCoupon">
						<ol>
							<li>
								<label class="nocmx" for="billing-coupon-code">${trans:m.order.frontoffice.coupon-code,ucf,attr,lab} ${cart/getCoupon/getLabel}</label>
							</li>
						</ol>
						<p class="buttons"><input change:submit="name UpdateCoupon" labeli18n="m.order.frontoffice.coupon-remove" id="billing-coupon-code" /></p>		
					</tal:block>
				</fieldset>
			</form>
						
			<tal:block tal:condition="configuration/getShowEvaluateShipping">
				<form change:form="beanClass order_ShippingStepBean; beanName addressInfo" id="evaluateshippingform">
					<fieldset>
						<legend class="h-2">${trans:m.order.document.shippingstepbean.evaluateShipping,ucf}</legend>
						<tal:block tal:condition="evaluateshipping">
							<tal:block tal:condition="cart/canSelectShippingModeId" tal:define="shippingModes cart/getShippingModes" > 		
								<ul class="messages" tal:condition="shippingModes/0">
									<li tal:repeat="modeFilter shippingModes">
										<tal:block tal:define="mode modeFilter/getMode">
											${mode/getLabel} : 
											<span class="price">
												<tal:block tal:condition="modeFilter/getValueWithTax">${modeFilter/getFormattedValueWithTax}  <span class="tax-mode">${trans:m.catalog.frontoffice.ttc,uc}</span></tal:block>
												<tal:block tal:condition="not: modeFilter/getValueWithTax">${trans:m.order.frontoffice.freeshipping,ucf}</tal:block>
											</span>
										</tal:block>
									</li>
								</ul>
								<ul tal:condition="not: shippingModes/0" class="errors">
									<li>${trans:m.order.document.shippingstepbean.no-shipping-mode,ucf}</li>
								</ul>
							</tal:block>
						</tal:block>
						<p class="description">${trans:m.order.document.shippingstepbean.evaluateShipping-text,ucf}</p>
						<ol>
							<li><input change:field="name shippingAddress.Zipcode; required false" size="30" /></li>
							<li><input change:field="name shippingAddress.City; required false" size="30" /></li>
							<li><input change:selectinput="name shippingAddress.CountryId; required false" listId="modules_customer/shippingcountry" labeled="true" /></li>
						</ol>
						<p class="buttons">
							<input change:hiddeninput="name evaluateshipping" value="1" />
							<input change:submit="name Evaluateshipping" labeli18n="m.order.document.shippingstepbean.evaluateShipping-button" />
						</p>
					</fieldset>				
				</form>
			</tal:block>
		</div>
	</div>
	<!-- Fin : column-one -->
	<!-- Début : column-two -->
	<div class="column-50" tal:define="discounts cart/getDiscountDataArrayForDisplay">
		<table class="normal payment-information">
			<!-- Total -->
			<tr class="big" tal:condition="php: shop.getDisplayPriceWithoutTax() && !shop.getDisplayPriceWithTax()">
				<td>${trans:m.order.frontoffice.total-withouttax-abr,ucf,lab}</td>
				<td class="price">${cart/getFormattedTotalWithoutTax}</td>
			</tr>
			<tr tal:condition="php: shop.getDisplayPriceWithTax() && shop.getDisplayPriceWithoutTax()">
				<td>${trans:m.order.frontoffice.total-withouttax-abr,ucf,lab}</td>
				<td class="price">${cart/getFormattedTotalWithoutTax}</td>
			</tr>
			<tr tal:condition="shop/getDisplayTax">
				<td>${trans:m.order.frontoffice.tva-column,ucf,lab}</td>
				<td class="price">${cart/getFormattedTotalTax}</td>
			</tr>
			<tr class="big" tal:condition="shop/getDisplayPriceWithTax">
				<td>${trans:m.order.frontoffice.total-withtax-abr,ucf,lab}</td>
				<td class="price">${cart/getFormattedTotalWithTax}</td>
			</tr>
		</table>
		<p tal:condition="orderProcess/open">${trans:m.order.frontoffice.cart-help-updatecart,ucf}</p>		
		<p class="buttons js">
			<button class="button" onclick="jQuery('#cart-lines').submit();">${trans:m.order.frontoffice.update-button,ucf}</button>
		</p>
		<p class="normal" tal:condition="cart/hasCreditNote">${trans:m.order.frontoffice.available-credit-notes,ucf,value=cart/getFormattedTotalAvailableCreditNoteAmount}</p>
		<ul class="mini-navigation">
			<li>
				<a change:link="tag contextual_website_website_modules_catalog_favorite-product-list; catalogParam[addCartToList] 'true'">${trans:m.order.frontoffice.add-cart-to-list,ucf}</a>
			</li>
		</ul>
	</div>
	<!-- Fin : column-two -->
</div>

<tal:block tal:condition="not: orderProcess/open">
	<h2 change:h="">${trans:m.order.frontoffice.orderProcess.do-order,ucf}</h2>
	<ul class="errors">
		<li tal:condition="orderProcess/message">${orderProcess/message}</li>
		<li tal:condition="not: orderProcess/message">${trans:m.order.frontoffice.orderProcess.closed-default-message,ucf}</li>
	</ul>
</tal:block>
<tal:block tal:condition="orderProcess/open">
	<tal:block tal:condition="cart/isValid">
		<form change:form="">
			<fieldset tal:define="generalSalesConditionsURL tagurl:'ctx_order_cgv'">
				<legend class="h-2">${trans:m.order.frontoffice.orderProcess.do-order,ucf}</legend>
				<tal:block tal:condition="not: configuration/getShowAcceptationCheckbox">
					<p class="normal">${trans:m.order.fo.general-sales-conditions-help,ucf,url=generalSalesConditionsURL}</p>
				</tal:block>
				<tal:block tal:condition="configuration/getShowAcceptationCheckbox">
					<ul change:errors="relKey cgv"></ul>
					<p class="normal">${trans:m.order.fo.general-sales-conditions-checkbox-help,ucf,url=generalSalesConditionsURL}</p>		
					<ol>
						<li><label change:label="" name="cgv_1" required="true" labeli18n="m.order.frontoffice.orderprocess.cgv"></label> 
							<input change:checkboxinput="withcolon false" name="cgv" value="true" labeli18n="m.order.frontoffice.orderprocess.cgv-agree" />
						</li>
					</ol>
				</tal:block>
				<p class="buttons">
					<a class="link" change:link="module order; action ContinueShopping; cmpref cart/getShopId">${trans:m.order.frontoffice.continue-shopping,ucf}</a>
					<input change:submit="name Order" class="button primary" labeli18n="m.order.frontoffice.order-button" />
				</p>
			</fieldset>			
		</form>
	</tal:block>
</tal:block>

<!-- Début : Aide -->
<tal:block tal:condition="configuration/getShowInstructions">
	<div class="cleaner"></div>
	<h2 change:h="">${trans:m.order.frontoffice.cart-help-title,ucf}</h2>
	<blockquote>
		<dl>
			<dt>${trans:m.order.frontoffice.Cart-help-removeline-title,ucf,lab}</dt>
			<dd>${trans:m.order.frontoffice.cart-help-removeline,ucf}</dd>
			<dt>${trans:m.order.frontoffice.cart-help-updatequantity-title,ucf,lab}</dt>
			<dd>${trans:m.order.frontoffice.cart-help-updatequantity,ucf}</dd>
			<dt>${trans:m.order.frontoffice.cart-help-addproduct-title,ucf,lab}</dt>
			<dd>${trans:m.order.frontoffice.cart-help-addproduct,ucf}</dd>
			<dt>${trans:m.order.frontoffice.cart-help-updatecart-title,ucf,lab}</dt>
			<dd>${trans:m.order.frontoffice.Cart-help-updatecart,ucf}</dd>
		</dl>
	</blockquote>
</tal:block>
<!-- Fin : Aide -->