<tal:block tal:condition="not:expedition/isPublished">
	<h2 change:h="">${trans:m.order.frontoffice.shipping-without-number,ucf} (${expedition/getStatusLabel})</h2>
	<ul class="normal" tal:define="shippingMode expedition/getShippingMode">
		<li><span>${trans:m.order.frontoffice.transport-name,ucf,lab}</span> ${shippingMode/getLabelAsHtml}</li>
	</ul>
</tal:block>
<tal:block tal:condition="expedition/isPublished" tal:define="hasUrl expedition/hasDetailPage">
	<tal:block tal:condition="hasUrl">
		<h2 change:h=""><a change:link="document expedition">${trans:m.order.frontoffice.shipping-number,ucf} ${structure expedition/getLabelAsHtml}</a> (${expedition/getStatusLabel})</h2>
		<ul class="normal" tal:define="shippingMode expedition/getShippingMode">
			<li><span>${trans:m.order.frontoffice.transport-name,ucf,lab}</span> ${structure shippingMode/getLabelAsHtml}</li>
		</ul>
	</tal:block>
	<tal:block tal:condition="not: hasUrl">
		<h2 change:h=""><span>${trans:m.order.frontoffice.shipping-number,ucf}</span> ${structure expedition/getLabelAsHtml} (${expedition/getStatusLabel})</h2>
		<ul class="normal" tal:define="shippingMode expedition/getShippingMode">
			<li><span>${trans:m.order.frontoffice.transport-name,ucf,lab}</span> ${structure shippingMode/getLabelAsHtml}</li>
			<li tal:condition="expedition/getTrackingNumber"><span>${trans:m.order.frontoffice.tracking-number,ucf,lab}</span> <a class="link" tal:omit-tag="not:expedition/getTrackingURL" href="${expedition/getTrackingURL}" target="blank">${expedition/getTrackingNumberAsHtml}</a></li>
			<li tal:condition="expedition/getTrackingText"><span>${trans:m.order.frontoffice.tracking-text,ucf,lab}</span> ${structure expedition/getTrackingTextAsHtml}</li>
			<li tal:repeat="line expeditionlines">
				<span>${structure line/getProduct/getLabelAsHtml} - ${structure line/getProduct/getCodeReferenceAsHtml}</span>
				<span>${line/getQuantity} / ${line/getOrderProductQuantity}</span>
				<tal:block tal:condition="line/getURL">
					<a class="link download" href="${line/getURL}">${trans:m.order.frontoffice.product-download,ucf}</a> ${line/getURLClick} <span>${trans:m.order.frontoffice.product-download-count,ucf}</span>
				</tal:block>
			</li>
		</ul>
	</tal:block>
</tal:block>